﻿@model TopicMoveModel
@using Nop.Web.Models.Boards;
@{    
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.MoveTopic").Text);
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Action("ForumBreadcrumb", new { forumTopicId = Model.Id })

            <div class="page move-topic-page">
                <div class="panel panel-default form-panel">
                    <div class="panel-heading">
                        <h3>@T("Forum.MoveTopic")</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                             @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@T("Forum.SelectTheForumToMoveTopic"):</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("ForumSelected", new SelectList(Model.ForumList, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="buttons">
                                <input type="submit" value="@T("Forum.Submit")" class="button-1 submit-forum-topic-button btn btn-default" />
                                <input type="button" class="button-2 cancel-forum-topic-button btn btn-default" value="@T("Forum.Cancel")" onclick="setLocation('@Url.RouteUrl("TopicSlug", new { id = Model.Id, slug = Model.TopicSeName })')" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


