﻿@model CampaignModel
@using Nop.Web.Models.Messages;
@if (Model.Id > 0)
{
    <div class="form-horizontal">
        <div class="form-group inputs">
            <colspan span="2">
                <strong>
                    @T("Admin.Promotions.Campaigns.Warning")
                </strong>
            </colspan>
        </div>
        @*<center>
                <div class="form-group inputs">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        @Html.LabelFor(model => model.TestEmail, new { @class = "control-label" })

                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="width:75%">
                        @Html.TextBoxFor(model => model.TestEmail, new { @class = "form-control square-box", autofocus = "autofocus" })
                    </div>
                    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 text-left">
                        @Html.ValidationMessageFor(model => model.TestEmail, string.Empty, new { @class = "text-danger" })
                    </div>

                    </div>
                <div class="options">
                    <input type="submit" name="send-test-email" class="button-1 save-address-button" value="@T("Admin.Promotions.Campaigns.SendTestEmail")" />&nbsp;&nbsp;
                    <input type="submit" name="send-mass-email" class="button-1 save-address-button" value="@T("Admin.Promotions.Campaigns.SendMassEmail")" />
                </div>
            </center>*@
    </div>

}
<br />
<div class="form-horizontal">

    @if (Model.NameEnabled)
    {
        <div class="form-group row">
            @*<div class="inputs">
                    @Html.LabelFor(model => model.Name, new { }, ""):
                    @Html.EditorFor(model => model.Name)

                </div>*@


            @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                    @Html.RequiredHint()
                </div>*@
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control square-box", autofocus = "autofocus" ,placeholder=T("Enter the Name")})


            </div>
            <div class="col-md-4">
                @if (Model.NameRequired)
            {
                    @Html.RequiredHint()
            }
                @Html.ValidationMessageFor(model => model.Name)
                @*@Html.RequiredHint()
                    @Html.ValidationMessageFor(model => model.Name)*@
            </div>

            @*<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 text-left">
                    @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
                </div>*@

            
        </div>
    }
   
    @if (Model.SubjectEnabled)
    {

        <div class="form-group rows">
            @*<div class="inputs">
                        @Html.LabelFor(model => model.Subject, new { }, "")
                        @Html.EditorFor(model => model.Subject)

                </div>*@



            @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    @Html.LabelFor(model => model.Subject, new { @class = "control-label" })
                    @Html.RequiredHint()
                </div>*@
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Subject, new { @class = "form-control square-box", autofocus = "autofocus", placeholder = T("Enter the Subject") })


            </div>
            <div class="col-md-4">
                @*@Html.RequiredHint()
                    @Html.ValidationMessageFor(model => model.Subject)*@
                @if (Model.SubjectRequired)
                {
                    @Html.RequiredHint()
                }
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
            @*<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 text-left">
                    @Html.ValidationMessageFor(model => model.Subject, string.Empty, new { @class = "text-danger" })
                </div>*@
        </div>
    }
    
@if (Model.BodyEnabled)
{
    <div class="form-group rows" @*style="overflow-x:auto"*@>
        @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                @Html.LabelFor(model => model.Body, new { @class = "control-label" })
                @Html.RequiredHint()
            </div>
            <br /><br />*@

        <div @*class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 text-left"*@>
            @{
    //we use rich editor with BODY tag supported
    //it could be a better practice to implement one more editor (similar to RichEditor.cshtml)
    //with "enableFullPage" property set to "true". but we do not want to duplicate source code
    //that's why we use this workaround
    //we store a value into "ViewData" and then use it in the RichEditor.cshtml file
    ViewData["nop.RichEditor.EnableFullPage"] = true;
            }
            @*<center>*@

            @Html.EditorFor(model => model.Body, "RichEditor", new { @class = "form-control square-box", autofocus = "autofocus",placeholder="Write Your message Here" })
            @*</center>*@
            @*@if (Model.BodyRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.Body)*@

            @*@Html.ValidationMessageFor(model => model.Body)*@

        </div>



    </div>
}
    @*<div class="inputs">
                @Html.LabelFor(model => model.StoreId):
                @Html.DropDownListFor(model => model.StoreId, Model.AvailableStores)
                @Html.ValidationMessageFor(model => model.StoreId)

        </div>
        <div class="inputs">
                @Html.LabelFor(model => model.AllowedTokens):
                @Html.DisplayFor(model => model.AllowedTokens)
        </div>*@
</div>
