﻿@model EmailAccountModel
@using Nop.Web.Models.Messages
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
<div class="form-horizontal">
    <div class="form-group inputs">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
            @*@Html.RequiredHint()*@
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control square-box", autofocus = "autofocus" })
        </div>
        
        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 text-left">
            @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "text-danger" })
        </div>
         </div>
    
    <div class="form-group inputs">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
        @Html.LabelFor(model => model.DisplayName, new { @class = "control-label" })
        @*@Html.RequiredHint()*@
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control square-box", autofocus = "autofocus" })
    </div>
    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 text-left">
        @Html.ValidationMessageFor(model => model.DisplayName,string.Empty,new { @class = "text-danger" })
    </div>
</div>

<div class="form-group inputs">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
        @Html.LabelFor(model => model.Host, new { @class = "control-label" })
        @*@Html.RequiredHint()*@
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        @Html.TextBoxFor(model => model.Host, new { @class = "form-control square-box", autofocus = "autofocus" })
    </div>
    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 text-left">
        @Html.ValidationMessageFor(model => model.Host,string.Empty,new { @class = "text-danger" })
    </div>
    </div>



    <div class="form-group inputs">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
    @Html.LabelFor(model => model.Port, new { @class = "control-label" })
    @*@Html.RequiredHint()*@
</div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        @Html.TextBoxFor(model => model.Port, new { @class = "form-control square-box", autofocus = "autofocus" })
    </div>
    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 text-left">
        @Html.ValidationMessageFor(model => model.Port,string.Empty,new { @class = "text-danger" })
    </div>
    </div>

<div class="form-group inputs">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
        @Html.LabelFor(model => model.Username, new { @class = "control-label" })
        @*@Html.RequiredHint()*@
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control square-box", autofocus = "autofocus" })
    </div>
    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 text-left">
        @Html.ValidationMessageFor(model => model.Username,string.Empty,new { @class = "text-danger" })
    </div>
    </div>

<div class="form-group inputs">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
        @Html.LabelFor(model => model.Password, new { @class = "control-label" })
        @*@Html.RequiredHint()*@
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        @Html.PasswordFor(model => model.Password, new { @class = "form-control square-box", autofocus = "autofocus" })
    </div>
    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 text-left">
        @Html.ValidationMessageFor(model => model.Password,string.Empty,new { @class = "text-danger" })
    </div>


    @if (Model.Id > 0)
                            {
        <input type="submit" name="changepassword" class="k-button" value="@T("Admin.Configuration.EmailAccounts.Fields.Password.Change")" />
                            }
</div>

    <div class="form-group inputs">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
        @Html.LabelFor(model => model.EnableSsl, new { @class = "control-label" })
        @*@Html.RequiredHint()*@
    </div>
  
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        @Html.EditorFor(model => model.EnableSsl, new { @class = "form-control square-box", autofocus = "autofocus" })
    </div>
    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 text-left">
        @Html.ValidationMessageFor(model => model.EnableSsl,string.Empty,new { @class = "text-danger" })
    </div>
        </div>

<div class="form-group inputs">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
        @Html.LabelFor(model => model.UseDefaultCredentials, new { @class = "control-label" })
        @*@Html.RequiredHint()*@
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        @Html.EditorFor(model => model.UseDefaultCredentials, new { @class = "form-control square-box", autofocus = "autofocus" })
    </div>
    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 text-left">
        @Html.ValidationMessageFor(model => model.UseDefaultCredentials,string.Empty,new { @class = "text-danger" })
    </div>
    </div>

    @*@if (Model.Id > 0)
                                    {

        <p>
            <strong>@T("Admin.Configuration.EmailAccounts.SendTestEmail")</strong>
        </p>
    <div class="form-group inputs">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
            @Html.LabelFor(model => model.SendTestEmailTo, new { @class = "control-label" })
            
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            @Html.TextBoxFor(model => model.SendTestEmailTo, new { @class = "form-control square-box", autofocus = "autofocus" })
        </div>


        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 text-left">
            <input type="submit" name="sendtestemail" class="k-button" value="@T("Admin.Configuration.EmailAccounts.SendTestEmail.Button")" />

        </div>
        </div>
            }*@

       </div>

