﻿@using Nop.Core
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@{
    var displayMiniProfiler = EngineContext.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;

    //resources
    Html.AppendScriptParts("~/Themes/NopRoot/Scripts/styleSheetToogle.js");

    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");

    Html.AppendScriptParts("~/Themes/NopRoot/Content/bootstrap-3.2.0/js/bootstrap.min.js");
    Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
    Html.AppendScriptParts("~/Scripts/public.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");

    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    //Html.AppendScriptParts("~/Scripts/jquery.unobtrusive-ajax.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");

    //X-UA-Compatible tag
    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }

}
<!DOCTYPE html>
<html @Html.Partial("LanguageAttributes")>
<head>
    <title>@Html.NopTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="generator" content="nopCommerce" />
    <meta charset="utf-8">
    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Page Description and Author -->
    <meta name="description" content="EmailMarketing - Responsive HTML5 Template">
    <meta name="author" content="iThemesLab">
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/asset/css/bootstrap.min.css")" type="text/css" media="screen">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/font-awesome.min.css")" type="text/css" media="screen"> <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/slicknav.css")" media="screen"> <!-- Margo CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/style.css")" media="screen"> <!-- Responsive CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/responsive.css")" media="screen"> <!-- Css3 Transitions Styles  -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/animate.css")" media="screen"> <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/red.css")" title="red" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/jade.css")" title="jade" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/green.css")" title="green" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/blue.css")" title="blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/beige.css")" title="beige" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/cyan.css")" title="cyan" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/orange.css")" title="orange" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/peach.css")" title="peach" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/pink.css")" title="pink" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/purple.css")" title="purple" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/sky-blue.css")" title="sky-blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/yellow.css")" title="yellow" media="screen" />
    <!-- Margo JS  -->
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/modernizrr.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/count-to.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.textillate.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.lettering.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/mediaelement-and-player.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.slicknav.js"></script>

    //resources
    <script type="text/javascript" src="~/Themes/NopRoot/Scripts/styleSheetToogle.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/public.ajaxcart.js"></script>
    <script type="text/javascript" src="~/Scripts/public.common.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    @*<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

    @Html.NopHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("head_html_tag")
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @Html.Action("RssHeaderLink", "News")
    @Html.Action("RssHeaderLink", "Blog")
    @*Favicon - upload favicon.ico file to the root directory*@
    @Html.Action("Favicon", "Common")
    @if (displayMiniProfiler)
    {
        @StackExchange.Profiling.MiniProfiler.RenderIncludes();
    }
    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
    <!--Copyright (c) 2008-2013-->
    <!--[if lt IE 9]>
        <script src="/Themes/NopRoot/Scripts/html5shiv.min.js"></script>
        <script src="/Themes/NopRoot/Scripts/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    @RenderBody()
    @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
    @Html.NopScripts(this.Url, ResourceLocation.Foot)
</body>
</html>

