﻿@{
    Layout = "~/Views/Shared/_HomepageRoot.head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@*@Html.Partial("_Notifications")*@




<div>
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div>
        <script type="text/javascript">
            AjaxCart.init(false, '.cart-qty', '.wishlist-qty', '#flyout-cart');
        </script>
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: block">
            <div class="loading-image">
            </div>
        </div>
        <div>
            <div id="container" style="background-image: url('../../Themes/NopRoot/Content/HomePageTemplate/images/patterns/1.png'); ">

                <!-- Start Header Section -->
                <!--    <div class="hidden-header"></div>-->
                <header class="clearfix" style="padding-top:0px;padding-bottom:0px">

                    <!-- Start  Logo & Naviagtion  -->
                    <div class="navbar navbar-default navbar-top" style="padding-top:0px;padding-bottom:0px;">
                        <div class="container" style="padding-top:0px;padding-bottom:0px;color:black">
                            <div class="navbar-header" style="padding-top:0px;padding-bottom:0px">
                                <!-- Stat Toggle Nav Link For Mobiles -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <!-- End Toggle Nav Link For Mobiles -->

                                <a class="navbar-brand" href="@Url.Action("Index","Home")" style="padding-top:5px;padding-bottom:0px">
                                    <img alt="" src="~/Themes/NopRoot/Content/HomePageTemplate/images/unnamed.png">
                                </a>

                            </div>
                            <div class="navbar-collapse collapse" style="padding-top:5px;padding-bottom:0px">
                                <!-- Stat Search -->
                                <div class="search-side">
                                    <a class="show-search"><i class="fa fa-search"></i></a>
                                    <div class="search-form">
                                        <form autocomplete="off" role="search" method="get" class="searchform" action="#">
                                            <input type="text" value="" name="s" id="s" placeholder="Search the site...">
                                        </form>
                                    </div>
                                </div>
                                <!-- End Search -->
                                <!-- Start Navigation List -->
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a class="active" href="@Url.Action("Index","Home")">Home</a>
                                    </li>
                                    @*<li>
                                    <a href="#services">Services</a>

                                </li>
                                <li>
                                    <a href="#features">Features</a>

                                </li>
                                <li>
                                    <a href="#plans">Plans</a>

                                </li>
                                <li>
                                    <a href="#aboutus">About Us</a>

                                </li>
                                <li>
                                    <a href="#contactus">Contact Us</a>

                                </li>*@
                                    <li>
                                        <a href="@Url.Action("Register","Customer")">Sign Up</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Login","Customer")">Sign In</a>
                                    </li>
                                </ul>
                                <!-- End Navigation List -->
                            </div>
                        </div>
                        <!-- Mobile Menu Start -->
                        <ul class="wpb-mobile-menu">
                            <li>

                                <a class="active" href="@Url.Action("Index","Home")">Home</a>

                            </li>
                            @* <li>
                            <a href="#services">Services</a>

                        </li>
                        <li>
                            <a href="#features">Features</a>

                        </li>
                        <li>
                            <a href="#plans">Plans</a>

                        </li>
                        <li>
                            <a href="#aboutus">About Us</a>

                        </li>
                        <li>
                            <a href="#contactus">Contact Us</a>
                        </li>*@
                            <li>
                                @*<a href="#">Sign In</a>*@
                                <a href="@Url.Action("Register","Customer")">Sign Up</a>
                            </li>
                            <li>
                                @*<a href="#">Sign Up</a>*@
                                <a href="@Url.Action("Login","Customer")">Sign In</a>
                            </li>
                        </ul>
                        </ul>
                        <!-- Mobile Menu End -->
                    </div>
                    <!-- End Header Logo & Naviagtion -->
                </header>

                <div class="container">
                @*<div class="row">
                    <div class="col-lg-12">
                        <div class="masthead">
                            @Html.Action("TopMenu", "Catalog")
                        </div>
                    </div>
                </div>
            </div>*@

                @*@Html.Widget("content_before")*@
                @RenderBody()
            </div>
        @*@Html.Widget("content_after")

        @Html.Action("EuCookieLaw", "Common")*@
    </div>
    @*@if (!HttpContext.Current.User.Identity.IsAuthenticated)
    {
        @Html.Action("Footer", "Common")
    }*@
</div>
@*@Html.Widget("body_end_html_tag_before")*@



<!--Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Quick View</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function displayBootstrapModal(id) {
        $('#myModal').find('.modal-body').load('/qv/'+id, function (result) {
            $('#myModal').modal({ show: true });
        });
}

</script>