﻿<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">
<head>
    <!-- Basic -->
    <title>@T("AlWsoulEmailMarketing")</title>
    <!-- Define Charset -->
    <meta charset="utf-8">
    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Page Description and Author -->
    <meta name="description" content="EmailMarketing - Responsive HTML5 Template">
    <meta name="author" content="iThemesLab">
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/asset/css/bootstrap.min.css")" type="text/css" media="screen">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/font-awesome.min.css")" type="text/css" media="screen"> <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/slicknav.css")" media="screen"> <!-- Margo CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/style.css")" media="screen"> <!-- Responsive CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/responsive.css")" media="screen"> <!-- Css3 Transitions Styles  -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/animate.css")" media="screen"> <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/orange.css")" title="orange" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/red.css")" title="red" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/jade.css")" title="jade" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/green.css")" title="green" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/blue.css")" title="blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/beige.css")" title="beige" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/cyan.css")" title="cyan" media="screen" />
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/peach.css")" title="peach" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/pink.css")" title="pink" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/purple.css")" title="purple" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/sky-blue.css")" title="sky-blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/yellow.css")" title="yellow" media="screen" />
    <!-- Margo JS  -->
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/modernizrr.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/count-to.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.textillate.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.lettering.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/mediaelement-and-player.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.slicknav.js"></script>

    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <!-- Full Body Container -->
    <div id="container">

        <!-- Start Header Section -->
        <!--    <div class="hidden-header"></div>-->
        <header class="clearfix" style="padding-top:0px;padding-bottom:0px">
            <nav class="navbar navbar-default navbar-fixed-top">
                <!-- Start  Logo & Naviagtion  -->
                <div class="navbar navbar-default navbar-top" style="padding-top:0px;padding-bottom:0px;">
                    <div class="container" style="padding-top:0px;padding-bottom:0px;color:black">
                        <div class="navbar-header" style="padding-top:0px;padding-bottom:0px">
                            <!-- Stat Toggle Nav Link For Mobiles -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                            <!-- End Toggle Nav Link For Mobiles -->

                            <a class="navbar-brand" href="@Url.Action("Index","Home")" style="padding-top:15px;padding-bottom:0px">
                                <img alt="" src="~/Themes/NopRoot/Content/HomePageTemplate/images/AlWsoulEmail.png">
                            </a>

                        </div>
                        <div class="navbar-collapse collapse" style="padding-top:5px;padding-bottom:0px">
                            <!-- Stat Search -->
                            <div class="search-side">
                                <a class="show-search"><i class="fa fa-search"></i></a>
                                <div class="search-form">
                                    <form autocomplete="off" role="search" method="get" class="searchform" action="#">
                                        <input type="text" value="" name="s" id="s" placeholder="Search the site...">
                                    </form>
                                </div>
                            </div>
                            <!-- End Search -->
                            <!-- Start Navigation List -->
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a class="active" href="@Url.Action("Index","Home")">Home</a>
                                </li>
                                @*<li>
                                        <a href="#home">Services</a>

                                    </li>*@
                                <li>
                                    <a href="#features">Features</a>

                                </li>
                                <li>
                                    <a href="#plans">Plans</a>

                                </li>
                                <li>
                                    <a href="#aboutus">About Us</a>

                                </li>
                                <li>
                                    <a href="@Url.Action("ContactUs", "Common")">Contact Us</a>

                                </li>
                                @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                                {
                                    <li><a href="@Url.Action("Register","Customer")">Sign Up</a></li>
                                    <li><a href="@Url.Action("Login","Customer")">Sign In</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Logout","Customer")">Sign Out</a></li>
                                }
 
</ul>
                            <!-- End Navigation List -->
                        </div>
                    </div>
                    <!-- Mobile Menu Start -->
                    <ul class="wpb-mobile-menu">
                        <li>

                            <a class="active" href="@Url.Action("Index","Home")">Home</a>

                        </li>
                        @*<li>
                                <a href="#home">Services</a>

                            </li>*@
                        <li>
                            <a href="#features">Features</a>

                        </li>
                        <li>
                            <a href="#plans">Plans</a>

                        </li>
                        <li>
                            <a href="#aboutus">About Us</a>

                        </li>
                        <li>
                            <a href="@Url.Action("ContactUs", "Common")">Contact Us</a>
                        </li>

                        @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("Register","Customer")">Sign Up</a></li>
                            <li><a href="@Url.Action("Login","Customer")">Sign In</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Logout","Customer")">Sign Out</a></li>
                        }

                    </ul>
                    @*</ul>*@
                    <!-- Mobile Menu End -->
                </div>
                <!-- End Header Logo & Naviagtion -->
        </header>
        <!-- End Header Section -->
        <!-- Start Home Page Slider -->
        <section id="render">
            <div class=" section pricing-section">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </section>
        <section id="home">
            <div class="section service">
                <!-- Carousel -->
                <div id="main-slide" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                        <li data-target="#main-slide" data-slide-to="1"></li>
                        <li data-target="#main-slide" data-slide-to="2"></li>
                    </ol>
                    <!--/ Indicators end-->
                    <!-- Carousel inner -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" src="~/Themes/NopRoot/Content/HomePageTemplate/images/slider/evolução-digital-1440x564_c.jpg" slider">
                            <div class="slider-content">
                                <div class="col-md-12 text-center">
                                    <h3 class="animated2">
                                        <span ><strong >Welcome to Email Marketing</strong></span>
                                    </h3>
                                    <h4 class="animated3">
                                        <span @*class="wite-text"*@>The ultimate aim of your business</span>
                                    </h4>
                                    <p class="animated4">
                                        <a href="@Url.Action("Login","Customer")" class="slider btn btn-system btn-large">Sign In</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Carousel item end -->
                        <div class="item">
                            <img class="img-responsive" src="~/Themes/NopRoot/Content/HomePageTemplate/images/slider/w1.jpg" alt="slider">
                            <div class="slider-content">
                                <div class="col-md-12 text-center">
                                    <h3 class="animated4">
                                        <span><strong>Email Marketing</strong> for the highest</span>
                                    </h3>
                                    <h4 class="animated5">
                                        <span class="wite-text">The Key of your Success</span>
                                    </h4>
                                    <p class="animated6">
                                        <a href="#plans" class="slider btn btn-system btn-large">Choose Your Plan</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Carousel item end -->
                        <div class="item">
                            <img class="img-responsive" src="~/Themes/NopRoot/Content/HomePageTemplate/images/slider/internet-marketing.jpg" alt="slider">
                            <div class="slider-content">
                                <div class="col-md-12 text-center">
                                    <h3 class="animated7 white">
                                        <span>The way of <strong>Success</strong></span>
                                    </h3>
                                    <h4 class="animated8 white">
                                        <span class="wite-text">Why you are waiting</span>
                                    </h4>
                                    <div class="">
                                        <a class="animated4 slider btn btn-system btn-large btn-min-block" href="#">Sign Up</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Sign In</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Carousel item end -->
                    </div>
                    <!-- Carousel inner end-->
                    <!-- Controls -->
                    <a class="left carousel-control" href="#main-slide" data-slide="prev">
                        <span><i class="fa fa-angle-left"></i></span>
                    </a>
                    <a class="right carousel-control" href="#main-slide" data-slide="next">
                        <span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <!-- /carousel -->
            </div>
        </section>
        <!-- End Home Page Slider -->
        <!-- Start Services Section -->
        <section id="services">
            <div class="section service">
                <div class="container">
                    <div class="row">
                        <!-- Start Service Icon 1 -->
                        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                            <div class="service-icon">
                                <i class="fa fa-file icon-large"></i>
                            </div>
                            <div class="service-content">
                                <h4>Email Marketing</h4>
                                <p>Email marketing is a type of direct digital marketing that uses electronic mail (email) as the marketing communication delivery method</p>
                            </div>
                        </div>
                        <!-- End Service Icon 1 -->
                        <!-- Start Service Icon 2 -->
                        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="02">
                            <div class="service-icon">
                                <i class="fa fa-desktop icon-large"></i>
                            </div>
                            <div class="service-content">
                                <h4>Campaigns</h4>
                                <p> A specific, defined series of activities used in marketing a new or changed product or service, or in using new marketing channels and methods </p>
                            </div>
                        </div>
                        <!-- End Service Icon 2 -->
                        <!-- Start Service Icon 3 -->
                        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="03">
                            <div class="service-icon">
                                <i class="fa fa-skype icon-large"></i>
                            </div>
                            <div class="service-content">
                                <h4>SMS</h4>
                                <p>SMS is a text messaging service component of phone, Web, or mobile communication systems. It uses standardized communications protocols to allow fixed line or mobile phone devices to exchange short text messages.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 3 -->
                        <!-- Start Service Icon 4 -->
                        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="04">
                            <div class="service-icon">
                                <i class="fa fa-windows icon-large"></i>
                            </div>
                            <div class="service-content">
                                <h4>Web</h4>
                                <p>Internet marketing, or online marketing, refers to advertising and marketing efforts that use the Web and email to drive direct sales via electronic commerce, in addition to sales leads from Web sites or emails.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 4 -->

                    </div>
                    <!-- .row -->
                </div>
                <!-- .container -->
            </div>
        </section>
        <!-- End Services Section -->
        <!-- Start Purchase Section -->

        <section id="features" style="padding-top:65px">
            <div class="section purchase" style="padding:0px 0px">
                <div class="container">

                    <!-- Start Video Section Content -->
                    <div class="section-video-content text-center">
                        <!-- Start Animations Text -->
                        <h1 class="fittext wite-text  tlt">
                            <span class="texts">
                                <span>Features</span>
                                </span>
                        </h1>
                        </div>
                    </div>
            </div>
                                @*<div class="row" style="background-color:#0094ff">
                                    <div class="col-md-12">

                                        <div class=" big-title text-center" style="padding-top:25px">
                                        <h1><strong>Features</strong></h1>
                                    </div>

                                    </div>
                                </div>*@
                                <div class="section purchase">
                                    <div class="container">

                                        <!-- Start Video Section Content -->
                                        <div class="section-video-content text-center">
                                            <!-- Start Animations Text -->
                                            <h1 class="fittext wite-text uppercase tlt">
                                                <span class="texts">
                                                    <span>Modern</span>
                                                    <span>Clean</span>
                                                    <span>Awesome</span>
                                                    <span>Cool</span>
                                                    <span>Great</span>
                                                </span>
                                                Email Marketing is Ready for <br />Business, Agency <strong>or</strong> Creative Templates
                                            </h1>
                                            <!-- End Animations Text -->
                                            <!-- Start Buttons -->
                                            <a href="#" class="btn-system btn-large"><i class="fa fa-tasks"></i> Check Out Features</a>
                                            <a href="#" class="btn-system btn-large btn-wite"><i class="fa fa-download"></i> Purchase This Now</a>
                                        </div>
                                        <!-- End Section Content -->
                                    </div>
                                    <!-- .container -->
                                </div>
        </section>
        <!-- End Purchase Section -->
        <!-- Start Pricing Table Section -->
        <section id="plans" style="padding-top:80px">
            <div class="row">
                <div class="col-md-12">
                    <!-- Start Big Heading -->
                    <div class="big-title text-center" style="margin-bottom:0px">
                        <h1>We Have Nice Pricing Plans For <strong>You!</strong></h1><br />

                        <!-- End Big Heading -->
                        <!-- Text -->
                        @*<p class="text-center" style="margin-bottom:0px">In its broadest sense, every email sent to a potential or current customer could be considered email marketing. It usually involves using email to send ads, request business, or solicit sales or donations, and is meant to build loyalty, trust, or brand awareness.</p>*@


                        @Html.Action("HomepageProducts", "Product")
                    </div>
                </div>
            </div>
        </section>
        <!-- End Pricing Table Section -->
        <section id="aboutus" style="padding-top:65px">
            <div class="section purchase" style="padding:0px 0px">
                <div class="container">

                    <!-- Start Video Section Content -->
                    <div class="section-video-content text-center">
                        <!-- Start Animations Text -->
                        <h1  class="wite-text" @*class="fittext wite-text  tlt"*@>
                            <span class="texts">
                                <span>About Us</span>
                            </span>
                        </h1><br />
                        <p style="color:white"> The efforts of a company or a third-party marketing company to increase awareness for a particular product or service, or to increase consumer awareness of a business or organization. A marketing campaign has a limited duration.</p>

                    </div>
                </div>
            </div>
            <div id="parallax-one" class="parallax" style="background-image:url('Themes/HomePageTemplate/images/slider/bg1.jpg');">
                <div class="parallax-text-container-1">
                    <div class="parallax-text-item">
                        <div class="container">
                            <div class="row">

                                @*<div class="col-md-12">
                                    
                                    <div class="big-title text-center">
                                        <h1> <strong>About Us</strong></h1>
                                    </div>
                                </div>*@
                                <!-- End Big Heading -->
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="counter-item">
                                        <i class="fa fa-cloud-upload"></i>
                                        <div class="timer" id="item1" data-to="1123" data-speed="5000"></div>
                                        <h5>Subscribers</h5>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="counter-item">
                                        <i class="fa fa-check"></i>
                                        <div class="timer" id="item2" data-to="53" data-speed="5000"></div>
                                        <h5>Achievements</h5>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="counter-item">
                                        <i class="fa fa-code"></i>
                                        <div class="timer" id="item3" data-to="25" data-speed="5000"></div>
                                        <h5>Happy Clients</h5>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="counter-item">
                                        <i class="fa fa-male"></i>
                                        <div class="timer" id="item4" data-to="6000" data-speed="5000"></div>
                                        <h5>Visitors</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Footer Section -->
        <section id="contactus">
            @Html.Action("Footer", "Common")
            @*<footer>

                            <div class="container">
                        <div class="row footer-widgets">
                            <div class="col-md-3 col-xs-12">
                                <div class="footer-widget social-widget">
                                    <h4>Contact Us<span class="head-line"></span></h4>
                                    <ul>
                                        <li><span>Phone Number:</span> +01 234 567 890</li>
                                        <li><span>Email:</span> EmailMarketing@gmail.com</li>
                                        <li><span>Website:</span> www.EmailMarketing.com</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-12">
                                <div class="footer-widget contact-widget">
                                    <h4>About Us<span class="head-line"></span></h4>
                                    <!--              <h4><img src="images/footer-margo.png" class="img-responsive" alt="Footer Logo" /></h4>-->
                                    <p> The efforts of a company or a third-party marketing company to increase awareness for a particular product or service, or to increase consumer awareness of a business or organization. A marketing campaign has a limited duration.</p>
                                </div>
                            </div>

                            <!-- Start Subscribe & Social Links Widget -->


                            <div class="col-md-3 col-xs-12">
                                <div class="footer-widget social-widget">
                                    <h4>Follow Us<span class="head-line"></span></h4>
                                    <ul class="social-icons">
                                        <li>
                                            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li>
                                            <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                        </li>
                                        <li>
                                            <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                                        </li>
                                        <li>
                                            <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                                        </li>
                                        <li>
                                            <a class="instgram" href="#"><i class="fa fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a class="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
                                        </li>
                                        <li>
                                            <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-12">
                                <div class="footer-widget mail-subscribe-widget">
                                    <h4>Get in touch<span class="head-line"></span></h4>
                                    <p>Join our mailing list to stay up to date and get notices about our new releases!</p>
                                    <form class="subscribe">
                                        <input type="text" placeholder="EmailMarketing@example.com">
                                        <input type="submit" class="btn-system" value="Send">
                                    </form>
                                </div>
                            </div>

                            <!-- .col-md-3 -->
                            <!-- End Subscribe & Social Links Widget -->

                        </div>
                        <!-- .row -->
                        <!-- Start Copyright -->
                        <div class="copyright-section">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>&copy; 2016 Email Marketing - All Rights Reserved <a href="http://graygrids.com">EmailMarketing</a> </p>
                                </div>
                                <!-- .col-md-6 -->
                                <div class="col-md-6">
                                    <ul class="footer-nav">
                                        <li>
                                            <a href="#">Sitemap</a>
                                        </li>
                                        <li>
                                            <a href="#">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- .col-md-6 -->
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- End Copyright -->
                    </div>
                    <!-- End Footer Section -->
                </footer>*@
        </section>
    </div>
    <!-- End Full Body Container -->
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    <div id="loader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>

    <!-- Style Switcher -->
        @*<div class="switcher-box">
        <a class="open-switcher show-switcher"><i class="fa fa-cog fa-2x"></i></a>
        <h4>Style Switcher</h4>
        <span>12 Predefined Color Skins</span>
        <ul class="colors-list">
            <li>
                <a onclick="setActiveStyleSheet('blue'); return false;" title="Blue" class="blue"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('sky-blue'); return false;" title="Sky Blue" class="sky-blue"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('cyan'); return false;" title="Cyan" class="cyan"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('jade'); return false;" title="Jade" class="jade"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('green'); return false;" title="Green" class="green"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('purple'); return false;" title="Purple" class="purple"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('pink'); return false;" title="Pink" class="pink"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('red'); return false;" title="Red" class="red"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('orange'); return false;" title="Orange" class="orange"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('yellow'); return false;" title="Yellow" class="yellow"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('peach'); return false;" title="Peach" class="peach"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('beige'); return false;" title="Biege" class="beige"></a>
            </li>
        </ul>
        <span>Top Bar Color</span>
        <select id="topbar-style" class="topbar-style">
            <option value="1">Light (Default)</option>
            <option value="2">Dark</option>
            <option value="3">Color</option>
        </select>
        <span>Layout Style</span>
        <select id="layout-style" class="layout-style">
            <option value="1">Wide</option>
            <option value="2">Boxed</option>
        </select>
        <span>Patterns for Boxed Version</span>
        <ul class="bg-list">
            <li>
                <a href="#" class="bg1"></a>
            </li>
            <li>
                <a href="#" class="bg2"></a>
            </li>
            <li>
                <a href="#" class="bg3"></a>
            </li>
            <li>
                <a href="#" class="bg4"></a>
            </li>
            <li>
                <a href="#" class="bg5"></a>
            </li>
            <li>
                <a href="#" class="bg6"></a>
            </li>
            <li>
                <a href="#" class="bg7"></a>
            </li>
            <li>
                <a href="#" class="bg8"></a>
            </li>
            <li>
                <a href="#" class="bg9"></a>
            </li>
            <li>
                <a href="#" class="bg10"></a>
            </li>
            <li>
                <a href="#" class="bg11"></a>
            </li>
            <li>
                <a href="#" class="bg12"></a>
            </li>
            <li>
                <a href="#" class="bg13"></a>
            </li>
            <li>
                <a href="#" class="bg14"></a>
            </li>
        </ul>
    </div>*@
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/script.js"></script>
</body>
</html>