﻿<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">
<head>
    <!-- Basic -->
    <title>@T("AlWsoulEmailMarketing")</title>
    <!-- Define Charset -->
    <meta charset="utf-8">
    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Page Description and Author -->
    <meta name="description" content="EmailMarketing - Responsive HTML5 Template">
    <meta name="author" content="iThemesLab">
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/asset/css/bootstrap.min.css")" type="text/css" media="screen">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/font-awesome.min.css")" type="text/css" media="screen"> <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/slicknav.css")" media="screen"> <!-- Margo CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/style.css")" media="screen"> <!-- Responsive CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/responsive.css")" media="screen"> <!-- Css3 Transitions Styles  -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/animate.css")" media="screen"> <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/orange.css")" title="orange" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/red.css")" title="red" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/jade.css")" title="jade" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/green.css")" title="green" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/blue.css")" title="blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/beige.css")" title="beige" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/cyan.css")" title="cyan" media="screen" />
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/peach.css")" title="peach" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/pink.css")" title="pink" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/purple.css")" title="purple" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/sky-blue.css")" title="sky-blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/NopRoot/Content/HomePageTemplate/css/colors/yellow.css")" title="yellow" media="screen" />
    <!-- Margo JS  -->
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/modernizrr.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/count-to.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.textillate.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.lettering.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/mediaelement-and-player.js"></script>
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/jquery.slicknav.js"></script>

    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <!-- Full Body Container -->
    <div id="container">

        <!-- Start Header Section -->
        <!--    <div class="hidden-header"></div>-->
        <header class="clearfix" style="padding-top:0px;padding-bottom:0px">
            <nav class="navbar navbar-default navbar-fixed-top">
                <!-- Start  Logo & Naviagtion  -->
                <div class="navbar navbar-default navbar-top" style="padding-top:0px;padding-bottom:0px;">
                    <div class="container" style="padding-top:0px;padding-bottom:0px;color:black">
                        <div class="navbar-header" style="padding-top:0px;padding-bottom:0px">
                            <!-- Stat Toggle Nav Link For Mobiles -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                            <!-- End Toggle Nav Link For Mobiles -->

                            <a class="navbar-brand" href="@Url.Action("Index","Home")" style="padding-top:5px;padding-bottom:0px">
                                <img alt="" src="~/Themes/NopRoot/Content/HomePageTemplate/images/AlWsoulEmail.png">
                            </a>

                        </div>
                        <div class="navbar-collapse collapse" style="padding-top:5px;padding-bottom:0px">
                            <!-- Stat Search -->
                            <div class="search-side">
                                <a class="show-search"><i class="fa fa-search"></i></a>
                                <div class="search-form">
                                    <form autocomplete="off" role="search" method="get" class="searchform" action="#">
                                        <input type="text" value="" name="s" id="s" placeholder="Search the site...">
                                    </form>
                                </div>
                            </div>
                            <!-- End Search -->
                            <!-- Start Navigation List -->
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a class="active" href="@Url.Action("Index","Home")">Home</a>
                                </li>
                                @*<li>
                                        <a href="#home">Services</a>

                                    </li>
                                <li>
                                    <a href="#features">Features</a>

                                </li>
                                <li>
                                    <a href="#plans">Plans</a>

                                </li>
                                <li>
                                    <a href="#aboutus">About Us</a>

                                </li>*@
                                <li>
                                    <a href="@Url.Action("ContactUs", "Common")">Contact Us</a>

                                </li>

                                @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                                {
                                    <li><a href="@Url.Action("Register","Customer")">Sign Up</a></li>
                                    <li><a href="@Url.Action("Login","Customer")">Sign In</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Logout","Customer")">Sign Out</a></li>
                                }
                            </ul>
                            <!-- End Navigation List -->
                        </div>
                    </div>
                    <!-- Mobile Menu Start -->
                    <ul class="wpb-mobile-menu">
                        <li>

                            <a class="active" href="@Url.Action("Index","Home")">Home</a>

                        </li>
                        @*<li>
                                <a href="#home">Services</a>

                            </li>
                        <li>
                            <a href="#features">Features</a>

                        </li>
                        <li>
                            <a href="#plans">Plans</a>

                        </li>
                        <li>
                            <a href="#aboutus">About Us</a>

                        </li>*@
                        <li>
                            <a href="@Url.Action("ContactUs","Common")">Contact Us</a>
                        </li>

                        <li>
                            <a href="@Url.Action("Register", "Customer")">Sign Up</a>
                        </li>
                        @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("Register","Customer")">Sign Up</a></li>
                            <li><a href="@Url.Action("Login","Customer")">Sign In</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Logout","Customer")">Sign Out</a></li>
                        }

                    </ul>
                    @*</ul>*@
                    <!-- Mobile Menu End -->
                </div>
                <!-- End Header Logo & Naviagtion -->
        </header>
        <!-- End Header Section -->
        <!-- Start Home Page Slider -->
        <section id="render">
            <div class=" section pricing-section">
                <div class="container" style="padding-top:60px">

                    @RenderBody()
                </div>
            </div>
        </section>
        
    </div>
    <!-- End Full Body Container -->
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    <div id="loader">
        <div class="spinner">
            
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>

    <!-- Style Switcher -->
    @*<div class="switcher-box">
            <a class="open-switcher show-switcher"><i class="fa fa-cog fa-2x"></i></a>
            <h4>Style Switcher</h4>
            <span>12 Predefined Color Skins</span>
            <ul class="colors-list">
                <li>
                    <a onclick="setActiveStyleSheet('blue'); return false;" title="Blue" class="blue"></a>
                </li>
                <li>
                    <a onclick="setActiveStyleSheet('sky-blue'); return false;" title="Sky Blue" class="sky-blue"></a>
                </li>
                <li>
                    <a onclick="setActiveStyleSheet('cyan'); return false;" title="Cyan" class="cyan"></a>
                </li>
                <li>
                    <a onclick="setActiveStyleSheet('jade'); return false;" title="Jade" class="jade"></a>
                </li>
                <li>
                    <a onclick="setActiveStyleSheet('green'); return false;" title="Green" class="green"></a>
                </li>
                <li>
                    <a onclick="setActiveStyleSheet('purple'); return false;" title="Purple" class="purple"></a>
                </li>
                <li>
                    <a onclick="setActiveStyleSheet('pink'); return false;" title="Pink" class="pink"></a>
                </li>
                <li>
                    <a onclick="setActiveStyleSheet('red'); return false;" title="Red" class="red"></a>
                </li>
                <li>
                    <a onclick="setActiveStyleSheet('orange'); return false;" title="Orange" class="orange"></a>
                </li>
                <li>
                    <a onclick="setActiveStyleSheet('yellow'); return false;" title="Yellow" class="yellow"></a>
                </li>
                <li>
                    <a onclick="setActiveStyleSheet('peach'); return false;" title="Peach" class="peach"></a>
                </li>
                <li>
                    <a onclick="setActiveStyleSheet('beige'); return false;" title="Biege" class="beige"></a>
                </li>
            </ul>
            <span>Top Bar Color</span>
            <select id="topbar-style" class="topbar-style">
                <option value="1">Light (Default)</option>
                <option value="2">Dark</option>
                <option value="3">Color</option>
            </select>
            <span>Layout Style</span>
            <select id="layout-style" class="layout-style">
                <option value="1">Wide</option>
                <option value="2">Boxed</option>
            </select>
            <span>Patterns for Boxed Version</span>
            <ul class="bg-list">
                <li>
                    <a href="#" class="bg1"></a>
                </li>
                <li>
                    <a href="#" class="bg2"></a>
                </li>
                <li>
                    <a href="#" class="bg3"></a>
                </li>
                <li>
                    <a href="#" class="bg4"></a>
                </li>
                <li>
                    <a href="#" class="bg5"></a>
                </li>
                <li>
                    <a href="#" class="bg6"></a>
                </li>
                <li>
                    <a href="#" class="bg7"></a>
                </li>
                <li>
                    <a href="#" class="bg8"></a>
                </li>
                <li>
                    <a href="#" class="bg9"></a>
                </li>
                <li>
                    <a href="#" class="bg10"></a>
                </li>
                <li>
                    <a href="#" class="bg11"></a>
                </li>
                <li>
                    <a href="#" class="bg12"></a>
                </li>
                <li>
                    <a href="#" class="bg13"></a>
                </li>
                <li>
                    <a href="#" class="bg14"></a>
                </li>
            </ul>
        </div>*@
    <script type="text/javascript" src="~/Themes/NopRoot/Content/HomePageTemplate/js/script.js"></script>
</body>
</html>