﻿@model ProductOverviewModel
@using Nop.Core;
@using Nop.Core.Domain.Orders;
@using Nop.Core.Domain.Tax;
@using Nop.Core.Infrastructure;
@using Nop.Web.Extensions;
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Catalog;
@using Nop.Core.Domain.Media;
@using System.Text;
@using System.Globalization;

@helper Text_Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }


}


@helper Price_Modifier(string input, int length)
{
    if (input.Length <= length)
    {
        @Html.Raw(@input)
    }
    else
    {
        @Html.Raw(@input.Substring(0, length))<text>...</text>
    }


}

@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, });
    }
}

@*<section id="plans" style="padding-top:65px">*@
    <div class="section pricing-section" >
        <div class="container">
            <div class="row">
                @*<div class="col-md-12">
                    <!-- Start Big Heading -->
                    <div class="big-title text-center">
                        <h1>We Have Nice Pricing Plans For <strong>You!</strong></h1>
                    </div>
                    <!-- End Big Heading -->
                    <!-- Text -->
                    <p class="text-center">In its broadest sense, every email sent to a potential or current customer could be considered email marketing. It usually involves using email to send ads, request business, or solicit sales or donations, and is meant to build loyalty, trust, or brand awareness.</p>
                </div>*@
            </div>
            <div class="row pricing-tables" data-productid="@Model.Id">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table" style="border-radius:5px">
                        <div class="plan-name" style="padding-bottom:5px;padding-top:5px">
                            <h3>
                                <a href="@Url.RouteUrl("Product", new
                                                  {
                                                      SeName = Model.SeName
                                                  })">@Text_Truncate(Model.Name, 30)</a>
                                            </h3>
                                        </div>
                                        <div class="white-box">
                                            <div class="picture thumbnail productview" style="margin-bottom:5px">

                                                <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
                                                    <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
                                                </a>
                                            </div>
                                            </div>
                                                <div class="plan-price" style="padding-bottom:5px;padding-top:5px">
                                                    <div class="price-value"><span>@Model.ProductPrice.Price</span></div>
                                                    <div class="interval">
                                                    @if (!String.IsNullOrEmpty(Model.ShortDescription))
                                                    {
                                                        @Text_Truncate(Model.ShortDescription, 10)
                                                    }
                                                    </div>
                                                </div>
                                                <div class="plan-list">
                                                    <ul>                                                       
                                                            @*@foreach (var productAttribute in Model.ProductAttributeListModel)
                                                            {
                                                                <li>
                                                                    @productAttribute.Name
                                                                </li>
                                                            }*@    
                                                        <li>
                                                        @if (Model.ProductAttributeListModel.Count > 0)
                                                        {
                                                            foreach (var attribute in Model.ProductAttributeListModel)
                                                            {
                                                                string controlId = string.Format("product_attribute_{0}", attribute.Id);
                                                                string textPrompt = !string.IsNullOrEmpty(attribute.TextPrompt) ? attribute.TextPrompt : attribute.Name;
                                                                <dt id="@string.Format("product_attribute_label_{0}", attribute.Id)">
                                                                    <label class="text-prompt">
                                                                        @textPrompt
                                                                    </label>
                                                                    @if (attribute.IsRequired)
                                                                    {
                                                                        <span class="required">*</span>
                                                                    }
                                                                    @if (!string.IsNullOrEmpty(attribute.Description))
                                                                    {
                                                                        <div class="attribute-description">
                                                                            @Html.Raw(attribute.Description)
                                                                        </div>
                                                                    }
                                                                </dt>
                                                                <dd id="@string.Format("product_attribute_input_{0}", attribute.Id)">
                                                                    @switch (attribute.AttributeControlType)
                                                                    {
                                                                        case AttributeControlType.DropdownList:
                                                                            {
                                                                                <select name="@(controlId)" id="@(controlId)">
                                                                                    @if (!attribute.IsRequired)
                                                                                    {
                                                                                        <option value="0">---</option>
                                                                                    }
                                                                                    @foreach (var attributeValue in attribute.Values)
                                                                                    {
                                                                                        var attributeName = String.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                                                                            attributeValue.Name :
                                                                                            T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment).Text;
                                                                                        <option selected="@attributeValue.IsPreSelected" value="@attributeValue.Id">@attributeName</option>
                                                                                    }
                                                                                </select>
                                                                            }
                                                                            break;
                                                                        case AttributeControlType.RadioList:
                                                                            {
                                                                                <ul class="option-list">
                                                                                    @foreach (var attributeValue in attribute.Values)
                                                                                    {
                                                                                        var attributeName = String.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                                                                            attributeValue.Name :
                                                                                            T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment).Text;
                                                                                        <li>
                                                                                            <input id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" />
                                                                                            <label for="@(controlId)_@(attributeValue.Id)">@attributeName</label>
                                                                                        </li>
                                                                                    }
                                                                                </ul>
                                                                            }
                                                                            break;
                                                                        case AttributeControlType.Checkboxes:
                                                                        case AttributeControlType.ReadonlyCheckboxes:
                                                                            {
                                                                                <ul class="option-list">
                                                                                    @foreach (var attributeValue in attribute.Values)
                                                                                    {
                                                                                        var attributeName = String.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                                                                            attributeValue.Name :
                                                                                            T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment).Text;
                                                                                        <li>
                                                                                            <input id="@(controlId)_@(attributeValue.Id)" type="checkbox" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" @(attribute.AttributeControlType == AttributeControlType.ReadonlyCheckboxes ? Html.Raw(" disabled=\"disabled\"") : null) />
                                                                                            <label for="@(controlId)_@(attributeValue.Id)">@attributeName</label>
                                                                                        </li>
                                                                                    }
                                                                                </ul>
                                                                            }
                                                                            break;
                                                                        case AttributeControlType.TextBox:
                                                                            {
                                                                                <input name="@(controlId)" type="text" class="textbox" id="@(controlId)" value="@attribute.DefaultValue" />
                                                                            }
                                                                            break;
                                                                        case AttributeControlType.MultilineTextbox:
                                                                            {
                                                                                <textarea cols="20" id="@(controlId)" name="@(controlId)">@attribute.DefaultValue</textarea>
                                                                            }
                                                                            break;
                                                                        case AttributeControlType.Datepicker:
                                                                            {
                                                                                @Html.DatePickerDropDowns(controlId + "_day", controlId + "_month", controlId + "_year", DateTime.Now.Year, DateTime.Now.Year + 1, attribute.SelectedDay, attribute.SelectedMonth, attribute.SelectedYear)
                                                                            }
                                                                            break;
                                                                        case AttributeControlType.FileUpload:
                                                                            {
                                                                                var downloadService = EngineContext.Current.Resolve<Nop.Services.Media.IDownloadService>();
                                                                                Download download = null;
                                                                                if (!String.IsNullOrEmpty(attribute.DefaultValue))
                                                                                {
                                                                                    download = downloadService.GetDownloadByGuid(new Guid(attribute.DefaultValue));
                                                                                }

                                                                                //register CSS and JS
                                                                                Html.AddCssFileParts("~/Scripts/fineuploader/fineuploader-4.2.2.min.css");
                                                                                Html.AddScriptParts("~/Scripts/fineuploader/jquery.fineuploader-4.2.2.min.js");

                                                                                //ex. ['jpg', 'jpeg', 'png', 'gif'] or []
                                                                                var allowedFileExtensions = string.Join(", ", attribute.AllowedFileExtensions.Select(x => "'" + x.Trim() + "'").ToList());

                                                                                if (download != null)
                                                                                {
                                                                                    <input id="@(controlId)" name="@(controlId)" type="hidden" value="@download.DownloadGuid" />
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input id="@(controlId)" name="@(controlId)" type="hidden" />
                                                                                }

                                                                                @*fine uploader container*@
                                                                                <div id="@(controlId)uploader"></div>
                                                                                @*fine uploader template (keep it synchronized to \Content\fineuploader\templates\default.html)*@
                                                                                <script type="text/template" id="@(controlId)-qq-template">
                                                                                    <div class="qq-uploader-selector qq-uploader">
                                                                                        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                                                                            <span>@T("Common.FileUploader.DropFiles")</span>
                                                                                        </div>
                                                                                        <div class="qq-upload-button-selector qq-upload-button">
                                                                                            <div>@T("Common.FileUploader.Upload")</div>
                                                                                        </div>
                                                                                        <span class="qq-drop-processing-selector qq-drop-processing">
                                                                                            <span>@T("Common.FileUploader.Processing")</span>
                                                                                            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                                                                        </span>
                                                                                        <ul class="qq-upload-list-selector qq-upload-list">
                                                                                            <li>
                                                                                                <div class="qq-progress-bar-container-selector">
                                                                                                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                                                                                                </div>
                                                                                                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                                                                                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                                                                                                <span class="qq-upload-file-selector qq-upload-file"></span>
                                                                                                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                                                                                <span class="qq-upload-size-selector qq-upload-size"></span>
                                                                                                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">@T("Common.FileUploader.Cancel")</a>
                                                                                                <a class="qq-upload-retry-selector qq-upload-retry" href="#">@T("Common.FileUploader.Retry")</a>
                                                                                                <a class="qq-upload-delete-selector qq-upload-delete" href="#">@T("Common.FileUploader.Delete")</a>
                                                                                                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </script>
                                                                                <script type="text/javascript">
                            $(document).ready(function() {
                                $("#@(controlId)uploader").fineUploader({
                                    request: {
                                        endpoint: '@(Url.RouteUrl("UploadFileProductAttribute", new { attributeId = attribute.Id }))'
                                    },
                                    template: "@(controlId)-qq-template",
                                    multiple: false,
                                    validation: {
                                        allowedExtensions: [@Html.Raw(allowedFileExtensions)]
                                    }
                                }).on("complete", function(event, id, name, responseJSON, xhr) {
                                    $("#@(controlId)").val(responseJSON.downloadGuid);
                                    if (responseJSON.success) {
                                        $("#@(controlId + "downloadurl")").html("<a href='" + responseJSON.downloadUrl + "'>@T("Common.FileUploader.DownloadUploadedFile")</a>");
                                        $("#@(controlId + "remove")").show();
                                    }
                                    if (responseJSON.message) {
                                        alert(responseJSON.message);
                                    }
                                });

                                $("#@(controlId + "remove")").click(function(e) {
                                    $("#@(controlId + "downloadurl")").html("");
                                    $("#@(controlId)").val('');
                                    $(this).hide();
                                });
                            });
                                                                                </script>
                                                                                <div id="@(controlId + "downloadurl")">
                                                                                    @if (download != null)
                                                                                    {
                                                                                        <a href="@(Url.Action("GetFileUpload", "Download", new {downloadId = download.DownloadGuid}))" class="download-uploaded-file">@T("Common.FileUploader.DownloadUploadedFile")</a>
                                                                                    }
                                                                                </div>
                                                                                <div>
                                                                                    @if (download != null)
                                                                                    {
                                                                                        <a id="@(controlId + "remove")" class="remove-download-button">@T("Common.FileUploader.RemoveDownload")</a>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <a id="@(controlId + "remove")" class="remove-download-buttonn" style="display: none;">@T("Common.FileUploader.RemoveDownload")</a>
                                                                                    }
                                                                                </div>

                                                                            }
                                                                            break;
                                                                        case AttributeControlType.ColorSquares:
                                                                            {
                                                                                <ul class="option-list color-squares" id="color-squares-@(attribute.Id)">
                                                                                    @foreach (var attributeValue in attribute.Values)
                                                                                    {
                                                                                        var attributeName = String.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                                                                            attributeValue.Name :
                                                                                            T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment).Text;
                                                                                        <li @(attributeValue.IsPreSelected ? @Html.Raw(" class=\"selected-value\"") : null)>
                                                                                            <label for="@(controlId)_@(attributeValue.Id)">
                                                                                                <span class="color-container" title="@attributeName">
                                                                                                    <span class="color" style="background-color:@(attributeValue.ColorSquaresRgb);">&nbsp;</span>
                                                                                                </span>
                                                                                                <input id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" />
                                                                                                @*uncomment below to display attribute value name*@
                                                                                                @*<span class="name">@attributeName</span>*@
                                                                                            </label>
                                                                                        </li>
                                                                                    }
                                                                                </ul>
                                                                                <script type="text/javascript">
                            $(document).ready(function() {
                                $('.attributes #color-squares-@(attribute.Id)').delegate('input', 'click', function(event) {
                                    $('.attributes #color-squares-@(attribute.Id)').find('li').removeClass('selected-value');
                                    $(this).closest('li').addClass('selected-value');
                                });
                            });
                                                                                </script>
                                                                            }
                                                                            break;
                                                                    }
                                                                </dd>
                                                            }
                                                        }
                                                            @if(Model.ProductAttributeListModel.Count > 0)
                                                            { 
                                                            //dynamic update support
                                                                var attributesHaveConditions = Model.ProductAttributeListModel.Any(x => x.HasCondition);
                                                                var dynamicPriceUpdate = EngineContext.Current.Resolve<CatalogSettings>().AjaxProcessAttributeChange;   
                                                                var attributeChangeScriptsBuilder = new StringBuilder();
                                                                var productId = Model.ProductAttributeListModel.First().ProductId;
                                                                var attributeChangeHandlerFuncName = string.Format("attribute_change_handler_{0}", productId);
                                                                if (dynamicPriceUpdate)
                                                                {
                                                                //generate change event script
                                                                foreach (var attribute in Model.ProductAttributeListModel)
                                                                {
                                                                string controlId = string.Format("product_attribute_{0}", attribute.Id);
                                                                switch (attribute.AttributeControlType)
                                                                {
                                                                case AttributeControlType.DropdownList:
                                                                {
                                                                attributeChangeScriptsBuilder.AppendFormat("$('#{0}').change(function(){{{1}();}});\n", controlId, attributeChangeHandlerFuncName);
                                                                }
                                                                break;
                                                                case AttributeControlType.RadioList:
                                                                case AttributeControlType.ColorSquares:
                                                                {
                                                                foreach (var attributeValue in attribute.Values)
                                                                {
                                                                attributeChangeScriptsBuilder.AppendFormat("$('#{0}_{1}').click(function(){{{2}();}});\n", controlId, attributeValue.Id, attributeChangeHandlerFuncName);
                                                                }
                                                                }
                                                                break;
                                                                case AttributeControlType.Checkboxes:
                                                                case AttributeControlType.ReadonlyCheckboxes:
                                                                {
                                                                foreach (var attributeValue in attribute.Values)
                                                                {
                                                                attributeChangeScriptsBuilder.AppendFormat("$('#{0}_{1}').click(function(){{{2}();}});\n", controlId, attributeValue.Id, attributeChangeHandlerFuncName);
                                                                }
                                                                }
                                                                break;
                                                                default:
                                                                break;
                                                                }
                                                                }
                                                                //render scripts
                                                                //almost the same implementation is used in the \Views\Product\_RentalInfo.cshtml file
                                                                <script type="text/javascript">
                                                                    function @(attributeChangeHandlerFuncName)() {
                                                                        $.ajax({
                                                                            cache: false,
                                                                            url: '@Html.Raw(Url.Action("ProductDetails_AttributeChange", "ShoppingCart", new {productId = productId, validateAttributeConditions = attributesHaveConditions}))',
                                                                            data: $('#product-details-form').serialize(),
                                                                            type: 'post',
                                                                            success: function(data) {
                                                                                if (data.price) {
                                                                                    $('.price-value-@productId').text(data.price);
                                                                                }
                                                                                if (data.sku) {
                                                                                    $('#sku-@productId').text(data.sku);
                                                                                }
                                                                                if (data.mpn) {
                                                                                    $('#mpn-@productId').text(data.mpn);
                                                                                }
                                                                                if (data.gtin) {
                                                                                    $('#gtin-@productId').text(data.gtin);
                                                                                }
                                                                                if (data.stockAvailability) {
                                                                                    $('#stock-availability-value-@productId').text(data.stockAvailability);
                                                                                }
                                                                                if (data.enabledattributemappingids) {
                                                                                    for (var i = 0; i < data.enabledattributemappingids.length; i++) {
                                                                                        $('#product_attribute_label_' + data.enabledattributemappingids[i]).show();
                                                                                        $('#product_attribute_input_' + data.enabledattributemappingids[i]).show();
                                                                                    }
                                                                                }
                                                                                if (data.enabledattributemappingids) {
                                                                                    for (var i = 0; i < data.disabledattributemappingids.length; i++) {
                                                                                        $('#product_attribute_label_' + data.disabledattributemappingids[i]).hide();
                                                                                        $('#product_attribute_input_' + data.disabledattributemappingids[i]).hide();
                                                                                    }
                                                                                }
                                                                            }
                                                                        });
                                                                    }
                                                                    $(document).ready(function() {
                                                                        @(attributeChangeHandlerFuncName)();
                                                                        @Html.Raw(attributeChangeScriptsBuilder.ToString())
                                                                    });
                                                                </script>
                                                                    }
                                                                }
                                                        </li>           
                                                        @*<li><strong>50,000</strong> Mails</li>*@
                                                        <li><strong> 50</strong> Email Groups</li>
                                                        <li><strong>50</strong> Campaigns</li>
                                                        <li><strong>5</strong> Templates</li>
                                                        <!--                  <li><strong>Free</strong> installation</li>-->
                                                    </ul>
                                                </div>
                                                @*<div class="plan-signup">
                                                    <a href="#" class="btn-system btn-small">Sign Up Now</a>
                                                </div>*@
                        <div class="plan-signup" style="padding-bottom:10px;padding-top:10px">
                            <center>
                                <div class="buttons">
                                    @*<input type="button" value="@T("Products.Details")" class="button-1 product-box-detail-button" onclick="setLocation('@Url.RouteUrl("Product", new { SeName = Model.SeName })')" />*@
                                    @if (!Model.ProductPrice.DisableBuyButton)
                                    {
                                        @*<input type="button" class="btn btn-sm btn-primary" value="@(Model.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />*@
    <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
   
        <span class="btn btn-sm btn-primary"  style="padding:5px 5px;border-radius:3px 3px; color:white"> @T("ShoppingCart.AddToCart")</span></a>
                                    }
                                </div>
                            </center>
                        </div>

                        </div>

                                        </div>
                                   </div>
                            </div>
            </div>
@*</section>*@