﻿@model CustomerCampaignModel
@{
    //page title
    ViewBag.Title = T("Admin.Customers.Customers.Campaigns.EditCampaign").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Customers.Customers.Campaigns.EditCampaign") @Html.ActionLink("(" + T("Admin.Customers.Customers.Campaign.BackToCustomer") + ")", "Edit", new { id = Model.CustomerId })
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateCampaign", Model)
}
