﻿@model CustomerEmailAccountModel
@{
    //page title
    ViewBag.Title = T("Admin.Customers.Customers.EmailAccounts.AddNew").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Customers.Customers.EmailAccounts.AddNew") @Html.ActionLink("(" + T("Admin.Customers.Customers.EmailAccounts.BackToCustomer") + ")", "Edit", new { id = Model.CustomerId })
        </div>
        <div class="options">
            <input type="submit" value="@T("Admin.Common.Save")" class="k-button" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateEmailAccount", Model)
}