﻿@using Nop.Admin.Models.EmailManagement
@model EmailGroupModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<script>
    $(document).ready(function() {
        $("#manufacturer-edit").kendoTabStrip({
            animation:  {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>
<div id="manufacturer-edit">
    <ul>
        <li>
            @T("Admin.EmailMangement.EmailGroups.Info")
        </li>
    </ul>


</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "emailgroup-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}
@*save selected tab index*@
@*<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

    @helper TabInfo()
    {*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.AllowCustomersToSelectPageSize)").click(togglePageSize);
        togglePageSize();
    });

    function togglePageSize() {
        if ($('#@Html.FieldIdFor(model => model.AllowCustomersToSelectPageSize)').is(':checked')) {
            $('#pnlPageSize').hide();
            $('#pnlPageSizeOptions').show();
        } else {
            $('#pnlPageSize').show();
            $('#pnlPageSizeOptions').hide();
        }
    }
</script>

@(Html.LocalizedEditor<EmailGroupModel, EmailGroupLocalizedModel>("emailgroup-info-localized",
    @<table class="adminContent">
        @*<tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Locales[item].Name):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Locales[item].Name)
                @Html.ValidationMessageFor(model => model.Locales[item].Name)
            </td>
        </tr>*@
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Locales[item].Description):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Locales[item].Description)
                @Html.ValidationMessageFor(model => model.Locales[item].Description)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.HiddenFor(model => model.Locales[item].LanguageId)
            </td>
        </tr>
    </table>
                ,
                @<table class="adminContent">
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.Name):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.Name)
                            @*@Html.ValidationMessageFor(model => model.Name)*@
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.Description):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </td>
                    </tr>
                </table>
                                                                            ))
<table class="adminContent">
    @*<tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailGroupTemplateId):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.EmailGroupTemplateId, Model.AvailableEmailGroupTemplates)
                @Html.ValidationMessageFor(model => model.EmailGroupTemplateId)
            </td>
        </tr>*@
    @*<tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AllowCustomersToSelectPageSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.AllowCustomersToSelectPageSize)
                @Html.ValidationMessageFor(model => model.AllowCustomersToSelectPageSize)
            </td>
        </tr>
        <tr id="pnlPageSize">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PageSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.PageSize)
                @Html.ValidationMessageFor(model => model.PageSize)
            </td>
        </tr>
        <tr id="pnlPageSizeOptions">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PageSizeOptions):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.PageSizeOptions)
                @Html.ValidationMessageFor(model => model.PageSizeOptions)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Published):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.Published)
                @Html.ValidationMessageFor(model => model.Published)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DisplayOrder):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </td>
        </tr>*@
</table>
@*}*@
@*@helper TabSeo()
    {
        @(Html.LocalizedEditor<EmailGroupModel, EmailGroupLocalizedModel>("manufacturer-seo-localized",
        @<table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Locales[item].MetaKeywords):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Locales[item].MetaKeywords)
                    @Html.ValidationMessageFor(model => model.Locales[item].MetaKeywords)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Locales[item].MetaDescription):
                </td>
                <td class="adminData">
                    @Html.TextAreaFor(model => model.Locales[item].MetaDescription)
                    @Html.ValidationMessageFor(model => model.Locales[item].MetaDescription)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Locales[item].MetaTitle):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Locales[item].MetaTitle)
                    @Html.ValidationMessageFor(model => model.Locales[item].MetaTitle)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Locales[item].SeName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Locales[item].SeName)
                    @Html.ValidationMessageFor(model => model.Locales[item].SeName)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.HiddenFor(model => model.Locales[item].LanguageId)
                </td>
            </tr>
        </table>
                   ,
                @<table class="adminContent">
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.MetaKeywords):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(x => x.MetaKeywords)
                            @Html.ValidationMessageFor(model => model.MetaKeywords)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.MetaDescription):
                        </td>
                        <td class="adminData">
                            @Html.TextAreaFor(x => x.MetaDescription)
                            @Html.ValidationMessageFor(model => model.MetaDescription)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.MetaTitle):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(x => x.MetaTitle)
                            @Html.ValidationMessageFor(model => model.MetaTitle)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.SeName):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(x => x.SeName)
                            @Html.ValidationMessageFor(model => model.SeName)
                        </td>
                    </tr>
                </table>))
    }*@
@*@helper TabProducts()
    {*@
@*<div id="manufacturer-edit">
    <ul>
        <li>
            @T("Admin.EmailMangement.EmailLists")
        </li>
    </ul>
    </div>*@

    @if (Model.Id > 0)
    {
        var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
        var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

        <table class="adminContent">
            <tr>
                <td width="100%">
                    <input type="submit" id="btnAddNewProduct" value="@T("Admin.EmailManagement.EmailGroup.AddNewEmailList")" onclick="javascript:OpenWindow('@(Url.Action("EmailListAddPopup", "EmailGroup", new { emailGroupId = Model.Id, btnId = "btnRefreshProducts", formId = "emailgroup-form" }))', 800, 800, true); return false;" class="k-button" />
                    <input type="submit" id="btnRefreshProducts" style="display: none" />
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#btnRefreshProducts').click(function () {
                                //refresh grid
                                var grid = $("#products-grid").data('kendoGrid');
                                grid.dataSource.read();

                                //return false to don't reload a page
                                return false;
                            });
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="products-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#products-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("EmailsList", "EmailGroup", new { emailGroupId = Model.Id }))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        },
                                        update: {
                                            url:"@Html.Raw(Url.Action("EmailListUpdate", "EmailGroup"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        },
                                        destroy: {
                                            url: "@Html.Raw(Url.Action("EmailListDelete", "EmailGroup"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model: {
                                            id: "Id",
                                            fields: {
                                                Email: {editable: false, type: "string" },
                                                DisplayOrder: {editable: true, type: "number" },
                                                EmailListId: {editable: false, type: "number" }
                                            }
                                        }
                                    },
                                    requestEnd: function(e) {
                                        if(e.type=="update") {
                                            this.read();
                                        }
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                editable: {
                                    confirmation: false,
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [{
                                    field: "Email",
                                    editable: false,
                                    type: "string",
                                    title: "@T("Admin.EmailManagement.EmailList.Email")"
                                },@*{
                                              field: "DisplayOrder",
                                              title: "@T("Admin.Catalog.Manufacturers.Products.Fields.DisplayOrder")",
                                              //integer format
                                              format: "{0:0}",
                                              width: 150
                                          },*@ {
                                    field: "EmailListId",
                                    title: "@T("Admin.Common.View")",
                                    width: 100,
                                    template: '<a href="@Url.Content("~/Admin/EmailList/Edit/")#=EmailListId#">@T("Admin.Common.View")</a>'
                                }, {
                                    command: [{
                                        name: "edit",
                                        text: {
                                            edit: "@T("Admin.Common.Edit")",
                                            update: "@T("Admin.Common.Update")",
                                            cancel: "@T("Admin.Common.Cancel")"
                                        }
                                    }, {
                                        name: "destroy",
                                        text: "@T("Admin.Common.Delete")"
                                    }],
                                    width: 400
                                }]
                            });
                        });
                    </script>
                </td>
            </tr>

        </table>
    }
    else
    {
        @T("Admin.EmailManagement.EmailGroups.SaveBeforeEdit")
    }

            @*}*@

            @*   @helper TabAcl()
                {
                    <script type="text/javascript">
                        $(document).ready(function () {

                            $("#@Html.FieldIdFor(model => model.SubjectToAcl)").click(toggleAcl);

                            toggleAcl();
                        });


                        function toggleAcl() {
                            if ($('#@Html.FieldIdFor(model => model.SubjectToAcl)').is(':checked')) {
                                $('#pnl-acl').show();
                            }
                            else {
                                $('#pnl-acl').hide();
                            }
                        }

                    </script>
                    <table class="adminContent">
                        <tr>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.SubjectToAcl):
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.SubjectToAcl)
                                @Html.ValidationMessageFor(model => model.SubjectToAcl)
                            </td>
                        </tr>
                        <tr id="pnl-acl">
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.AvailableCustomerRoles):
                            </td>
                            <td class="adminData">
                                @if (Model.AvailableCustomerRoles != null && Model.AvailableCustomerRoles.Count > 0)
                                {
                                    @Html.Action("AclDisabledWarning", "Common")
                                    foreach (var customerRole in Model.AvailableCustomerRoles)
                                    {
                                        <div>
                                            <input type="checkbox" name="SelectedCustomerRoleIds" value="@customerRole.Id" checked="@(Model.SelectedCustomerRoleIds != null && Model.SelectedCustomerRoleIds.Contains(customerRole.Id))" />@customerRole.Name
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div>No customer roles defined</div>
                                }
                            </td>
                        </tr>
                    </table>
                }

                @helper TabStores()
                {
                    <script type="text/javascript">
                        $(document).ready(function () {

                            $("#@Html.FieldIdFor(model => model.LimitedToStores)").click(toggleStoreMapping);

                            toggleStoreMapping();
                        });


                        function toggleStoreMapping() {
                            if ($('#@Html.FieldIdFor(model => model.LimitedToStores)').is(':checked')) {
                                $('#pnl-available-stores').show();
                            }
                            else {
                                $('#pnl-available-stores').hide();
                            }
                        }

                    </script>
                    <table class="adminContent">
                        <tr>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.LimitedToStores):
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.LimitedToStores)
                                @Html.ValidationMessageFor(model => model.LimitedToStores)
                            </td>
                        </tr>
                        <tr id="pnl-available-stores">
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.AvailableStores):
                            </td>
                            <td class="adminData">
                                @if (Model.AvailableStores != null && Model.AvailableStores.Count > 0)
                                {
                                    @Html.Action("MultistoreDisabledWarning", "Common")
                                    foreach (var store in Model.AvailableStores)
                                    {
                                        <div>
                                            <input type="checkbox" name="SelectedStoreIds" value="@store.Id" checked="@(Model.SelectedStoreIds != null && Model.SelectedStoreIds.Contains(store.Id))" />@store.Name
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div>No stores defined</div>
                                }
                            </td>
                        </tr>
                    </table>
                }*@
