﻿@using Nop.Admin.Models.EmailManagement
@model EmailGroupModel
@{
    //page title
    ViewBag.Title = T("Admin.EmailManagement.EmailGroups.AddNew").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "emailgroup-form" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.EmailManagement.EmailGroups.AddNew") @Html.ActionLink("(" + T("Admin.EmailManagement.EmailGroups.BackToList") + ")", "List")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}