﻿@using Nop.Admin.Models.EmailManagement
@model EmailGroupModel
@{
    //page title
    ViewBag.Title = T("Admin.EmailManagement.EmailGroups.EditEmailGroupDetails").Text;
}
@using (Html.BeginForm())
    //(null, null, FormMethod.Post, new { id = "emailgroup-form" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.EmailManagement.EmailGroups.EditEmailGroupDetails") - @Model.Name @Html.ActionLink("(" + T("Admin.EmailManagement.EmailGroups.BackToList") + ")", "List")
        </div>
        <div class="options">
            @*<input type="submit" value="@T("Admin.Common.Preview")" onclick="javascript:OpenWindow('@Url.RouteUrl("EmailGroup", new { SeName = Model.SeName })', 800, 600, true); return false;" class="k-button" />*@
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            <span id="emailgroup-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("emailgroup-delete")