﻿@using Nop.Admin.Models.EmailManagement
@model EmailGroupModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.EmailManagement.EmailGroups").Text;
}
@Html.AntiForgeryToken()
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
        @T("Admin.EmailManagement.EmailGroups.EmailGroups")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="k-button">@T("Admin.Common.AddNew")</a>
        <a href="@Url.Action("ExportXml")" class="k-button">@T("Admin.Common.ExportToXml")</a>
        <input type="button" id="delete-selected" class="k-button" value="@T("Admin.Common.Delete.Selected")" />
    </div>
</div>
@*<table width="100%">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchEmailGroupName):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SearchEmailGroupName)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="search-manufacturers" class="k-button" value="@T("Admin.Common.Search")" />
            </td>
        </tr>
    </table>*@
<table class="adminContent">
    <tr>
        <td>
            <div id="campaigns-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#campaigns-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "EmailGroup"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        dataBound: onDataBound,
                        columns: [
                             {
                                 field: "Id",
                                 headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                 headerAttributes: { style: "text-align:center" },
                                 attributes: { style: "text-align:center" },
                                 template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                 width: 50
                             },
                            {
                            field: "Name",
                            title: "@T("Admin.EmailManagement.EmailGroup.Name")"
                        }, {
                            field: "CreatedOn",
                            title: "@T("Admin.Promotions.Campaigns.Fields.CreatedOn")",
                            width: 200,
                            type: "datetime"
                            //,
                            //format: "{0:G}"
                        },{
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                    template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                }]
                    });
                });
            </script>
        </td>
    </tr>
</table>
<script type="text/javascript">

    var selectedIds = [];

    $(document).ready(function () {

        //search button
        $('#search-products').click(function () {
            //search
            var grid = $('#products-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            //clear selected checkboxes
            $('.checkboxGroups').attr('checked', false).change();
            selectedIds = [];
            return false;
        });

        $("#@Html.FieldIdFor(model => model.AvailableEmailGroupTemplates)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-products").click();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.AvailableStores)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#go-to-product-by-sku").click();
                return false;
            }
        });

        //delete selected
        $('#delete-selected').click(function(e) {

            e.preventDefault();

            var postData = {
                selectedIds: selectedIds
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("DeleteSelected", "EmailGroup"))",
                data: postData,
                complete: function(data) {
                    //reload grid
                    var grid = $('#campaigns-grid').data('kendoGrid');
                    grid.dataSource.read();
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                },
                traditional: true
            });
            return false;
        });

        $('#mastercheckbox').click(function () {
            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
        });

        //wire up checkboxes.
        $('#campaigns-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
            var $check = $(this);
            if ($check.is(":checked") == true) {
                var checked = jQuery.inArray($check.val(), selectedIds);
                if (checked == -1) {
                    //add id to selectedIds.
                    selectedIds.push($check.val());
                }
            }
            else {
                var checked = jQuery.inArray($check.val(), selectedIds);
                if (checked > -1) {
                    //remove id from selectedIds.
                    selectedIds = $.grep(selectedIds, function (item, index) {
                        return item != $check.val();
                    });
                }
            }
            updateMasterCheckbox();
        });
    });

    function additionalData() {
        var data = {
            SearchProductName: $('#@Html.FieldIdFor(model => model.AvailableEmailGroupTemplates)').val(),
            //  SearchCategoryId: $('#SearchCategoryId').val(),
            //  SearchManufacturerId: $('#SearchManufacturerId').val(),
            //  SearchStoreId: $('#SearchStoreId').val(),

        };
        addAntiForgeryToken(data);
        return data;
    }

    function onDataBound(e) {
        $('#campaigns-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
            var currentId = $(this).val();
            var checked = jQuery.inArray(currentId, selectedIds);
            //set checked based on if current checkbox's value is in selectedIds.
            $(this).attr('checked', checked > -1);
        });

        updateMasterCheckbox();
    }

    function updateMasterCheckbox() {
        var numChkBoxes = $('#campaigns-grid input[type=checkbox][id!=mastercheckbox]').length;
        var numChkBoxesChecked = $('#campaigns-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
    }
</script>  