﻿@model CustomerCampaignEditModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Campaigns })
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page address-edit-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.CustomerCampaigns.Edit")</h1>
        </div>
        <div class="page-body">
            @{
               var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">
                    @validationSummary
                </div>
            }
            @{
            var dataDictCampaign = new ViewDataDictionary();
            //Merge ModelState (required for validation)
            dataDictCampaign.ModelState.Merge(ViewData.ModelState);
            dataDictCampaign.TemplateInfo.HtmlFieldPrefix = "Campaign";
            @Html.Partial("_CreateOrUpdateCampaign", Model.Campaign, dataDictCampaign)
            }
            <div class="buttons">
                <input type="submit" class="button-1 save-address-button" value="@T("Common.Save")" />
            </div>
        </div>
    </div>
}