﻿@using Nop.Web.Models.Customer
@model CustomerEmailAccountListModel
@{

    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    //page title
    ViewBag.Title = T("PageTitle.EmailAccounts").Text;
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.EmailAccounts })
}
<div class="page account-page address-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.CustomerEmailAccounts")</h1>
    </div>
    <div class="add-button">
        <input type="button" class="button-1 add-address-button" onclick="location.href='@Url.RouteUrl("CustomerEmailAccountAdd")'" value="@T("Common.AddNew")" />
    </div>
    <div class="page-body" style="overflow-x:auto;">
        <table class="table" style="margin-top:10px">
            <tr>
                <th style="background-color:#333;
                    color:#fff;
                    text-align:center">
                    Email
                </th>
                <th style="background-color:#333;
                    color:#fff;
                    text-align:center">
                    Display Name
                </th>
                <th style="background-color:#333;
                    color:#fff;
                    text-align:center">
                    Host
                </th>
                <th style ="background-color:#333;
                    color:#fff;
                    text-align:center">
                    Port
                </th>
                <th style="background-color:#333;
                    color:#fff;
                    text-align:center">
                    User Name
                </th>
                @*<th>
                    Password
                </th>
                <th>
                    EnableSsl
                </th>
                <th>
                    UseDefaultCredentials
                </th>
                <th>
                    IsDefaultEmailAccount
                </th>*@
                <th></th>
                <th></th>
            </tr>
            @if (Model.EmailAccounts.Count > 0)
            {
                <div class="address-list">
                    @for (int i = 0; i < Model.EmailAccounts.Count; i++)
                    {
                        var emailaccounts = Model.EmailAccounts[i];

                        <div class="section address-item">
                            <div class="title">
                                <tr>
                                    <td style="text-align:center">
                                        <strong>@emailaccounts.Email </strong><br\>
                                    </td>
                                    <td style="text-align:center">
                                        <strong>@emailaccounts.DisplayName </strong><br\>
                                    </td>
                                    <td style="text-align:center">
                                        <strong>@emailaccounts.Host </strong><br\>
                                    </td>
                                    <td style="text-align:center">
                                        <strong>@emailaccounts.Port</strong><br\>
                                    </td>
                                    <td style="text-align:center">
                                        <strong>@emailaccounts.Username</strong><br\>
                                    </td>
                                    @*<td>
                                        <strong>@emailaccounts.Password</strong><br\>
                                    </td>
                                    <td>
                                        <strong>@emailaccounts.EnableSsl </strong><br\>
                                    </td>
                                    <td>
                                        <strong>@emailaccounts.UseDefaultCredentials </strong><br\>
                                    </td>
                                    <td>
                                        <strong>@emailaccounts.IsDefaultEmailAccount </strong><br\>
                                    </td>*@
                                    <td style="text-align:center">
                                        <input type="button" class="button-2 edit-address-button" onclick="location.href='@(Url.RouteUrl("CustomerEmailAccountEdit", new { emailaccountId = emailaccounts.Id }))'" value='@T("Common.Edit")' />
                                    </td>
                                    <td style="text-align:center">
                                        <input type="button" class="button-2 delete-address-button" onclick="if (confirm('@(T("Common.AreYouSure").Text)')) {location.href='@(Url.RouteUrl("CustomerEmailAccountDelete", new { emailaccountId = emailaccounts.Id }))';}" value="@T("Common.Delete")" />

                                    </td>
                                </tr>
                            </div>
                            @*<div class="buttons">
                                <input type="button" class="button-2 edit-address-button" onclick="location.href='@(Url.RouteUrl("CustomerEmailAccountEdit", new { emailaccountId = emailaccounts.Id }))'" value='@T("Common.Edit")' />
                                <input type="button" class="button-2 delete-address-button" onclick="if (confirm('@(T("Common.AreYouSure").Text)')) {location.href='@(Url.RouteUrl("CustomerEmailAccountDelete", new { emailaccountId = emailaccounts.Id }))';}" value="@T("Common.Delete")" />
                            </div>*@
                        </div>
                    }
                </div>

            }

            else
            {
                <div class="no-data">
                    @T("Account.CustomerEmailAccounts.NoEmailAccounts")
                </div>
            }
        </table>
        
    </div>
</div>
