﻿@model CountrySelectorModel
@using Nop.Web.Models.Common;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@if (Model.AvailableCountries.Count > 1)
{
    <div class="currency-selector" style="color:#000">
        @{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();

    var countries = Model.AvailableCountries.Select(x => new SelectListItem
        {
            Text = x.Name,
            Value = webHelper.ModifyQueryString(Url.RouteUrl("ChangeCountry", new { customercountry = x.Id }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null),
            Selected = x.Id.Equals(Model.CurrentCountryId)
        });

        @Html.DropDownList("customerCountry", countries, new { onchange = "setLocation(this.value);" })
        }
    </div>
}