﻿@model FooterModel
@using Nop.Web.Extensions
@using Nop.Web.Models.Common;
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@*@{
    Layout = "~/Views/Shared/_HomePageTemplate.cshtml";
}*@

@*<div class="footer" style="margin-top:150px">
    <div class="container first-footer">
        <div class="row ">
            <div class="col-sm-3 col-xs-12">
                <h3>@T("Footer.Information")</h3>
                <ul>*@
                    @*@if (Model.SitemapEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                    }*@
                    @*@foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }*@
                    
                  
                    @*<li><a href="a"
                    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                
                </ul>
            </div>

            <div class="col-sm-3 col-xs-12">
                <h3>@T("Footer.CustomerService")</h3>
                <ul>
                    <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                    @if (Model.NewsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                    }
                    @if (Model.BlogEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                    }
                    @if (Model.ForumEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                    }*@
                    @*@if (Model.RecentlyViewedProductsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                    }*@
                    @*@if (Model.CompareProductsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                    }*@
                    @*@if (Model.NewProductsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
                    }*@
                @*</ul>
            </div>


            <div class="col-sm-3 col-xs-12">
                <h3>@T("Footer.MyAccount")</h3>
                <ul>
                    <li><a href="@Url.RouteUrl("CustomerInfo")" class="account">@T("Account.MyAccount")</a></li>
                    
                    @if (Model.AllowCustomersToApplyForVendorAccount)
                    {
                        <li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                    }*@
                    @*@if (Model.ShoppingCartEnabled)
                    {
                        <li><a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">@T("ShoppingCart")</a></li>
                    }
                    @if (Model.WishlistEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">@T("Wishlist")</a></li>
                    }*@
                @*</ul>
            </div>

            <div class="col-sm-3 col-xs-12 getintouch">
                <h3>@T("Newsletter.Title")</h3>
                @Html.Action("NewsletterBox", "Newsletter")
                <div class="social-icons">
                    <ul>
                        @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
                        {
                            <li class="icon google-plus"><a href="@Model.GooglePlusLink" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.YoutubeLink))
                        {
                            <li class="icon youtube"><a href="@Model.YoutubeLink" target="_blank"><i class="fa fa-youtube fa-fw"></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.TwitterLink))
                        {
                            <li class="icon twitter"><a href="@Model.TwitterLink" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.FacebookLink))
                        {
                            <li class="icon facebook"><a href="@Model.FacebookLink" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                        }
                        @if (Model.NewsEnabled)
                        {
                            <li class="icon rss"><a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})"><i class="fa fa-rss fa-fw"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="text-left" style="float:left">
                    Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a> <a href="http://www.brainstation-23.com/">
                        Brainstation
                    </a>*@
                    @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                        Find more info here http://www.nopcommerce.com/copyrightremoval.aspx*@
                    @*<div class="text-right">                   
                         @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
                        </div>
                </div>
                @if (Model.DisplayTaxShippingInfoFooter)
                {
                    var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                    <div class="footer-tax-shipping text-center">
                        @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                    </div>
                }
                <div class="text-center">
                    @Html.Action("StoreThemeSelector", "Common")
                </div>
            </div>
        </div>

        @Html.Widget("footer")
    </div>
</div>*@







@*<section id="contactus">*@
    <footer>
        <div class="container">
            <div class="row footer-widgets">
                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget social-widget">
                        <h4>Contact Us<span class="head-line"></span></h4>
                        <ul>
                            <li><span>Phone Number:</span> +01 234 567 890</li>
                            <li><span>Email:</span> EmailMarketing@gmail.com</li>
                            <li><span>Website:</span> www.EmailMarketing.com</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget contact-widget">
                        <h4>About Us<span class="head-line"></span></h4>
                        <!--              <h4><img src="images/footer-margo.png" class="img-responsive" alt="Footer Logo" /></h4>-->
                        <p> The efforts of a company or a third-party marketing company to increase awareness for a particular product or service, or to increase consumer awareness of a business or organization. A marketing campaign has a limited duration.</p>
                    </div>
                </div>

                <!-- Start Subscribe & Social Links Widget -->


                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget social-widget">
                        <h4>Follow Us<span class="head-line"></span></h4>
                        <ul class="social-icons">
                            <li>
                                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li>
                                <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                            </li>
                            <li>
                                <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                            </li>
                            <li>
                                <a class="instgram" href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a class="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
                            </li>
                            <li>
                                <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget mail-subscribe-widget">
                        <h4>Get in touch<span class="head-line"></span></h4>
                        <p>Join our mailing list to stay up to date and get notices about our new releases!</p>
                        <form class="subscribe">
                            <input type="text" placeholder="EmailMarketing@example.com">
                            <input type="submit" class="btn-system" value="Send">
                        </form>
                        <div>@Html.Action("CountrySelector", "Common")</div>
                    </div>
                </div>

                <!-- .col-md-3 -->
                <!-- End Subscribe & Social Links Widget -->

            </div>
            <!-- .row -->
            <!-- Start Copyright -->
            <div class="copyright-section">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; 2016 Email Marketing - All Rights Reserved <a href="http://graygrids.com">EmailMarketing</a> </p>
                    </div>
                    <!-- .col-md-6 -->
                    <div class="col-md-6">
                        <ul class="footer-nav">
                            <li>
                                <a href="#">Sitemap</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- .col-md-6 -->
                </div>
                <!-- .row -->
            </div>
            <!-- End Copyright -->
        </div>
        <!-- End Footer Section -->
    </footer>
@*</section>*@