﻿@model CampaignModel

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.NameEnabled)
@Html.HiddenFor(model => model.NameRequired)
@Html.HiddenFor(model => model.SubjectEnabled)
@Html.HiddenFor(model => model.SubjectRequired)
@Html.HiddenFor(model => model.BodyEnabled)
@Html.HiddenFor(model => model.BodyRequired)

<table class="address-block">
    @if (Model.NameEnabled)
    {
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Name):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
    }
    @if (Model.SubjectEnabled)
    {
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Subject):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Subject)
                @Html.ValidationMessageFor(model => model.Subject)
            </td>
        </tr>
    }
    @if (Model.BodyEnabled)
    {
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Body):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Body)
                @Html.ValidationMessageFor(model => model.Body)
            </td>
        </tr>
    }
   
   
</table>