﻿@model CampaignModel
@using Nop.Web.Models.Messages;

@if (Model.Id > 0)
{
<div class="page account-page">
    <div class="page-title">
        <colspan span="2">
            <strong>
                @T("Admin.Promotions.Campaigns.Warning")
            </strong>
        </colspan>
    </div>

    <center>
        <div class="inputs">
            @Html.LabelFor(model => model.TestEmail):
            @Html.EditorFor(model => model.TestEmail)
            @Html.ValidationMessageFor(model => model.TestEmail)
            @*&nbsp;&nbsp;*@
        </div>

        <div class="options">
            <input type="submit" name="send-test-email" class="button-1 save-address-button" value="@T("Admin.Promotions.Campaigns.SendTestEmail")" />
            <input type="submit" name="send-mass-email" class="button-1 save-address-button" value="@T("Admin.Promotions.Campaigns.SendMassEmail")" />
        </div>
    </center>
</div>

}
<div class="form-fields">
@if (Model.NameEnabled)
{
        <div class="inputs">
            @Html.LabelFor(model => model.Name, new { }, ""):
            @Html.EditorFor(model => model.Name)
            @if (Model.NameRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.Name)
        </div>
}
@if (Model.SubjectEnabled)
{
  <div class="inputs">
        @Html.LabelFor(model => model.Subject, new { }, "")
        @Html.EditorFor(model => model.Subject)
        @if (Model.SubjectRequired)
         {
           @Html.RequiredHint()
         }
        @Html.ValidationMessageFor(model => model.Subject)
   </div>
}
@if (Model.BodyEnabled)
{
                <div class="inputs">
                    <label style="width:495px;height:20px">
                        @Html.LabelFor(model => model.Body, new { }, ""):
                    </label>
                        <center>
                        @{
                            //we use rich editor with BODY tag supported
                            //it could be a better practice to implement one more editor (similar to RichEditor.cshtml)
                            //with "enableFullPage" property set to "true". but we do not want to duplicate source code
                            //that's why we use this workaround
                            //we store a value into "ViewData" and then use it in the RichEditor.cshtml file
                            ViewData["nop.RichEditor.EnableFullPage"] = true;
                        }
                        @Html.EditorFor(model => model.Body, "RichEditor")
                            @if (Model.BodyRequired)
                            {
                                @Html.RequiredHint()
                            }
                        @Html.ValidationMessageFor(model => model.Body)
                    </center>
            </div>
}
                @*<div class="inputs">
                    @Html.LabelFor(model => model.StoreId):
                    @Html.DropDownListFor(model => model.StoreId, Model.AvailableStores)
                    @Html.ValidationMessageFor(model => model.StoreId)

            </div>
            <div class="inputs">
                    @Html.LabelFor(model => model.AllowedTokens):
                    @Html.DisplayFor(model => model.AllowedTokens)
            </div>*@
    </div>
