﻿@model AccountActivationModel
@using Nop.Web.Models.Customer;
@{
    //Layout = "~/Views/Shared/_ColumnsTwoHomePage.cshtml";
    Layout = "~/Views/Shared/_HomePageTemplateTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.AccountActivation").Text);
}
<div class="page account-activation-page">
    <div class="panel panel-info form-panel" style="padding:10px 10px">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>@T("Account.AccountActivation")</h3>
        </div>
        </div>
        <div class="panel-body">
            <strong>
                @Model.Result
            </strong>
        </div>
    </div>
</div>
