﻿@model CustomerAvatarModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
@using (Html.BeginRouteForm("CustomerAvatar", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
     @Html.AntiForgeryToken()
    <div class="page account-page avatar-page">
        <div class="panel panel-default form-panel">
            
            <div class="panel-heading">
                <h3>@T("Account.MyAccount") - @T("Account.Avatar")</h3>
            </div>
            <div class="panel-body">
                <div class="message-error">
                    @Html.ValidationSummary(true)
                </div>
                <div class="fieldset">
                    @if (!String.IsNullOrEmpty(Model.AvatarUrl))
                    {
                        <div class="image">
                            <img src="@(Model.AvatarUrl)" alt="avatar" />
                        </div>
                    }
                    <input name="uploadedFile" type="file" />
                </div>
                <div class="buttons">
                    <input type="submit" name="upload-avatar" class="button-1 btn btn-default" value="@T("Common.Upload")" />
                    @if (!String.IsNullOrEmpty(Model.AvatarUrl))
                    {
                        <input type="submit" name="remove-avatar" class="button-2 btn btn-default" value="@T("Account.Avatar.RemoveAvatar")" />
                    }
                </div>
                <div class="info">
                    @T("Account.Avatar.UploadRules")
                </div>
            </div>
        </div>
    </div>
}