﻿@using Nop.Web.Models.Customer
@model CustomerCampaignListModel
@{

    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    //page title
    ViewBag.Title = T("PageTitle.Campaigns").Text;
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Campaigns })
}
<div class="panel panel-default form-panel">
    <div class="panel-title">
        <h3>@*@T("Account.MyAccount") -*@ @T("Account.CustomerCampaigns")</h3>
    </div>
    <div class="add-button">
        <input type="button" class="button-1 add-address-button" onclick="location.href='@Url.RouteUrl("CustomerCampaignAdd")'" value="@T("Common.AddNew")" />
    </div>
    <div class="page-body">
        <div class="address-list">
            <table class="table" style="margin-top:10px">
                <tr>
                    <th style="background-color:#333;
                    color:#fff;
                    text-align:center">
                        Name
                    </th>
                    <th style="background-color:#333;
                    color:#fff;
                    text-align:center">
                        Subject
                    </th>
                    <th style="background-color:#333;
                    color:#fff;
                    text-align:center">
                        Created On
                    </th>
                    <th></th>
                    <th></th>

                </tr>

                @if (Model.Campaigns.Count > 0)
                {
                    <div class="address-list">
                        @for (int i = 0; i < Model.Campaigns.Count; i++)
                        {
                            var campaign = Model.Campaigns[i];

                            <div class="section address-item">
                                <div class="title">

                                    <tr>
                                        <td style="text-align:center">
                                            @campaign.Name
                                        </td>
                                        <td style="text-align:center">
                                            @campaign.Subject
                                        </td>
                                        <td style="text-align:center">
                                            @campaign.CreatedOn
                                        </td>
                                        <td style="text-align:center">
                                            <input type="button" class="button-2 edit-address-button" onclick="location.href='@(Url.RouteUrl("CustomerCampaignEdit", new { campaignId = campaign.Id }))'" value='@T("Common.Edit")' />
                                        </td>
                                        <td style="text-align:center">
                                            <input type="button" class="button-2 delete-address-button" onclick="if (confirm('@(T("Common.AreYouSure").Text)')) {location.href='@(Url.RouteUrl("CustomerCampaignDelete", new { campaignId = campaign.Id }))';}" value="@T("Common.Delete")" />
                                        </td>
                                    </tr>

                                </div>
                                @*<div class="buttons">
                                    <input type="button" class="button-2 edit-address-button" onclick="location.href='@(Url.RouteUrl("CustomerCampaignEdit", new { campaignId = campaign.Id }))'" value='@T("Common.Edit")' />
                                    <input type="button" class="button-2 delete-address-button" onclick="if (confirm('@(T("Common.AreYouSure").Text)')) {location.href='@(Url.RouteUrl("CustomerCampaignDelete", new { campaignId = campaign.Id }))';}" value="@T("Common.Delete")" />
                                </div>*@
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="no-data">
                        @T("Account.CustomerCampaigns.NoCampaigns")
                    </div>
                    
                }
            </table>
            
        </div>
    </div>
</div>

