﻿@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Layout = "~/Views/Shared/_HomepageTemplateTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page change-password-page">
        
        <div class="panel panel-info form-panel">
        

            <div class="panel-heading">
                <div class="panel-title">
                    <h3>@*@T("Account.MyAccount") -*@ @T("Account.ChangePassword")</h3>
                </div>
                </div>
            <div class="panel-body">
                <div class="message-error">
                    @Html.ValidationSummary(true)
                </div>
                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.OldPassword, new { @class = "col-md-2 control-label" }, ":")
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.OldPassword)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.NewPassword, new { @class = "col-md-2 control-label" }, ":")
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-md-2 control-label" }, ":")
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" class="button-1 btn btn-default" value="@T("Account.ChangePassword.Button")" />
                </div>
            </div>
        </div>
    </div>
}