﻿@model CustomerNavigationModel   
@using System.Text.RegularExpressions        
@using Nop.Web.Models.Customer;



        <div class="navbar  category-menu" role="navigation" style="background-color: #000">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".menu-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        @*<div class="panel panel-default side-nav" style="background-color:#000">*@
            @*<div class="panel-heading" style="background-color: #333">*@
                <div class="collapse navbar-collapse menu-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right" style="min-height:600px">
                        @Html.Widget("account_navigation_before")
                        @if (!Model.HideInfo)
                        {
                            <li style="width:100%">
                                <a href="@Url.RouteUrl("CustomerInfo")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Info)
                                                                   {<text>active</text>}
                                                                   else
                                                                   {<text>inactive</text>}">@T("Account.CustomerInfo")</a>
                                                            </li>
                        }

                        @*@if (!Model.HideAddresses)
                            {
                                <li>
                                    <a href="@Url.RouteUrl("CustomerAddresses")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Addresses)
                                                                                        {<text>active</text>}
                                                                                        else
                                                                                        {<text>inactive</text>}">@T("Account.CustomerAddresses")</a>

                                                                                    </li>
                            }*@
                            @*@if (!Model.HideOrders)
                                {
                                    <li>
                                        <a href="@Url.RouteUrl("CustomerOrders")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Orders)
                                                                                         {<text>active</text>}
                                                                                         else
                                                                                         {<text>inactive</text>}">@T("Account.CustomerOrders")</a>
                                                                                    </li>
                                }*@
                            @if (!Model.HideReturnRequests)
                            {
                                <li>
                                    <a href="@Url.RouteUrl("CustomerReturnRequests")" class="@if (Model.SelectedTab == CustomerNavigationEnum.ReturnRequests)
                                                                             {<text>active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Account.CustomerReturnRequests")</a>
                                                                        </li>
                            }
                            @if (!Model.HideDownloadableProducts)
                            {
                                <li>
                                    <a href="@Url.RouteUrl("CustomerDownloadableProducts")" class="@if (Model.SelectedTab == CustomerNavigationEnum.DownloadableProducts)
                                                                                   {<text>active</text>}
                                                                                   else
                                                                                   {<text>inactive</text>}">@T("Account.DownloadableProducts")</a>
                                                                            </li>
                            }
                            @if (!Model.HideBackInStockSubscriptions)
                            {
                                <li>
                                    <a href="@Url.RouteUrl("CustomerBackInStockSubscriptions")" class="@if (Model.SelectedTab == CustomerNavigationEnum.BackInStockSubscriptions)
                                                                                   {<text>active</text>}
                                                                                   else
                                                                                   {<text>inactive</text>}">@T("Account.BackInStockSubscriptions")</a>
                                                                            </li>
                            }
                            @*@if (!Model.HideRewardPoints)
                                {
                                    <li>
                                        <a href="@Url.RouteUrl("CustomerRewardPoints")" class="@if (Model.SelectedTab == CustomerNavigationEnum.RewardPoints)
                                                                                               {<text>active</text>}
                                                                                               else
                                                                                               {<text>inactive</text>}">@T("Account.RewardPoints")</a>
                                                                                        </li>
                                }*@
                            @if (!Model.HideChangePassword)
                            {
                                <li style="width:100%">
                                    <a href="@Url.RouteUrl("CustomerChangePassword")" class="@if (Model.SelectedTab == CustomerNavigationEnum.ChangePassword)
                                                                             {<text>active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Account.ChangePassword")</a>
                                                                        </li>
                            }
                            @if (!Model.HideAvatar)
                            {
                                <li style="width:100%">
                                    <a href="@Url.RouteUrl("CustomerAvatar")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Avatar)
                                                                     {<text>active</text>}
                                                                     else
                                                                     {<text>inactive</text>}">@T("Account.Avatar")</a>
                                                                </li>
                            }
                            @if (!Model.HideForumSubscriptions)
                            {
                                <li>
                                    <a href="@Url.RouteUrl("CustomerForumSubscriptions")" class="@if (Model.SelectedTab == CustomerNavigationEnum.ForumSubscriptions)
                                                                                 {<text>active</text>}
                                                                                 else
                                                                                 {<text>inactive</text>}">@T("Account.ForumSubscriptions")</a>
                                                                            </li>
                            }
                            @if (!Model.HideCampaigns)
                            {
                                <li style="width:100%">
                                    <a href="@Url.RouteUrl("CustomerCampaigns")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Campaigns)
                                                                   {<text>active</text>}
                                                                   else
                                                                   {<text>inactive</text>}">@T("Account.Campaigns")</a>
                                                            </li>
                            }
                            @if (!Model.HideEmailAccounts)
                            {
                                <li>
                                    <a href="@Url.RouteUrl("CustomerEmailAccounts")" class="@if (Model.SelectedTab == CustomerNavigationEnum.EmailAccounts)
                                                                   {<text>active</text>}
                                                                   else
                                                                   {<text>inactive</text>}">@T("Account.EmailAccounts")</a>
                                                            </li>
                            }
                            @Html.Widget("account_navigation_after")

                        </ul>
                    </div>

                </div>
                <!--/.nav-collapse -->
            </div>
        @*</div>*@
    @*</div>*@











<script>
    $(document).ready(function () {
        $('.navbar a.dropdown-toggle').on('click', function (e) {
            var elmnt = $(this).parent().parent();
            if (!elmnt.hasClass('nav')) {
                var li = $(this).parent();
                var heightParent = parseInt(elmnt.css('height').replace('px', '')) / 2;
                var widthParent = parseInt(elmnt.css('width').replace('px', '')) - 10;

                if (!li.hasClass('open')) li.addClass('open')
                else li.removeClass('open');
                $(this).next().css('top', heightParent + 'px');
                $(this).next().css('left', widthParent + 'px');

                return false;
            }
        });
    });
</script>

<script>
    function setMouseHoverDropdown() {
        if ($(window).innerWidth() > 767) {
            $('ul.nav li').hover(function () {
                $(this).find('> .dropdown-menu').stop(true, true).delay(200).fadeIn(500);
            }, function () {
                $(this).find('> .dropdown-menu').stop(true, true).delay(200).fadeOut(500);
            });
        }
    }
    $(window).load(function () {
        setMouseHoverDropdown();
    });
    $(document).ready(function () {
        setMouseHoverDropdown();
    });
    $(window).resize(function () {
        setMouseHoverDropdown();
    });
</script>

<script>
    $(document).ready(function () {
        $(".navbar-toggle").click(function() {
            $(this).parent().find("> .navbar-header").css("overflow-y", "auto");
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        // Call stylesheet init so that all stylesheet changing functions
        // will work.
        $.stylesheetInit();

        // This code loops through the stylesheets when you click the link with
        // an ID of "toggler" below.
        $('#toggler').bind(
            'click',
            function (e) {
                $.stylesheetToggle();
                return false;
            }
        );

        // When one of the styleswitch links is clicked then switch the stylesheet to
        // the one matching the value of that links rel attribute.
        $('.styleswitch').bind(
            'click',
            function (e) {
                $.stylesheetSwitch(this.getAttribute('rel'));
                return false;
            }
        );


        $("#configure-button").on("click", function (e) {
            e.preventDefault();
            if ($(this).data("expanded") == "true") {
                $("#color-options").css({ right: '-140px' });
                $("#configure-button").css({ right: '0px' });
                $(this).data("expanded", "false");
            } else {
                $("#color-options").css({ right: '0px' });
                $("#configure-button").css({ right: '140px' });
                $(this).data("expanded", "true");
            }

        });


    });

</script>



