﻿@model LoginModel
@using Nop.Web.Models.Customer;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Layout = "~/Views/Shared/_HompageTemplateTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
    {
        var webHelper = EngineContext.Current.Resolve<IWebHelper>();
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + HttpUtility.UrlEncode(this.Context.Request.QueryString["returnUrl"]), null);
    }
}
<div class="container" style="background-image: url('../../Content/HomePageTemplate/images/patterns/1.png');">
    <div id="loginbox" style="margin-top:10px; " class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 centered">
        @*<div class="panel panel-default form-panel">*@
        @*<div class="panel-heading">
                <h3>@T("Account.Login.Welcome")</h3>
            </div>*@
        @Html.Partial("_ExternalAuthentication.AssociateMessage")
        @Html.Partial("_ExternalAuthentication.Errors")
        @*<div class="panel-body">*@
        @*<div class="row">*@
        @*<div class="col-md-6">*@
        <div class="">
            @if (Model.CheckoutAsGuest)
            {
                @*<div class="title mid-content-title">
                    <strong>@T("Account.Login.CheckoutAsGuestOrRegister")</strong>
                </div>
                <div class="offer offer-default">
                    <div class="text">
                        @Html.Action("TopicBlock", "Topic", new { systemName = "CheckoutAsGuestOrRegister" })
                    </div>
                    <div class="buttons">
                        <input type="button" class="button-1 checkout-as-guest-button btn btn-default" onclick="location.href='@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                    </div>
                </div>*@
            }
            else
            {
                @*<div class="title mid-content-title">
                        <strong>@T("Account.Login.NewCustomer")</strong>
                    </div>
                    <div class="offer offer-default">
                        <div class="text">
                            @T("Account.Login.NewCustomerText")
                        </div>
                        <div class="buttons">
                            <input type="button" class="button-1 register-button btn btn-default" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                        </div>
                    </div>*@

            }
        </div>
        <div class="">

            @*<div class="title mid-content-title">
                    <strong>@T("Account.Login.ReturningCustomer")</strong>
                </div>*@
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title" @*style="padding:10px 10px"*@><strong style="font-size:16px">Sign In</strong></div>


                </div>
                <div style="padding-top:30px" class="panel-body">
                    @using (Html.BeginForm())
                    {
                        <div class="text-danger">
                            @Html.ValidationSummary(true, T("Account.Login.Unsuccessful").Text)
                        </div>
                        if (Model.UsernamesEnabled)
                        {
                            <div class="form-group row">
                                @*<div class="col-md-3">*@
                                @*@Html.LabelFor(m => m.Username, new { @class = "control-label" }, ":")*@
                                @*</div>*@
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Username, new { @class = "username form-control", placeholder = @T("Account.Login.Fields.UserName") })
                                </div>
                                @Html.ValidationMessageFor(m => m.Username)
                            </div>
                        }
                        else
                        {
                            <div class="form-group row">
                                @*<div class="col-md-3">*@
                                @*@Html.LabelFor(m => m.Email, new { @class = "control-label" }, ":")*@
                                @*</div>*@
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "email form-control", placeholder = @T("Account.Login.Fields.Email") })
                                </div>
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        }
                        <div class="form-group row">
                            @*<div class="col-md-3">*@
                            @*@Html.LabelFor(m => m.Password, new { @class = "control-label" }, ":")*@
                            @*</div>*@
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.Password, new { @class = "password form-control", placeholder = @T("Account.Login.Fields.Password") })
                            </div>
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="form-group reversed">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                            <span class="text-primary">

                                <u> @Html.RouteLink(T("Account.Login.ForgotPassword").Text, "PasswordRecovery")</u>

                            </span>
                        </div>
                        if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        }
                        <div class="buttons center">
                            <input class="button-1 login-button btn btn-default" type="submit" value="Sign In" />
                        </div>
                        <div class="panel-footer c-info" style="background-color:white;border-top:none">
                            <div class="form-group">
                                <div class="col-md-12 control">
                                    @*<div style="border-top: 1px solid#888; padding-top:15px; font-size:100%" >*@
                                    <div padding-top:15px; font-size:100%">
                                        Don't have an account!
                                        @*<a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                            Sign Up Here
                                            </a>*@
                                        <a href="@Url.RouteUrl("Register")" class="text-primary">Sign Up Here</a>
                                        @*<a href="@Url.RouteUrl("Register")" class="ico-register">@T("Account.Register")</a>*@

                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    @*</div>*@

    @Html.Action("ExternalMethods", "ExternalAuthentication")

    @*@if (!String.IsNullOrEmpty(@Html.Action("ExternalMethods", "ExternalAuthentication").ToString()))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="external-authentication">
                        <div class="offer offer-default">
                             @Html.Action("ExternalMethods", "ExternalAuthentication")
                        </div>
                    </div>
                </div>

            </div>

        }*@


    @*</div>*@
    @*</div>*@

    @*<div class="row">
            <div class="col-md-12">
                @Html.Action("TopicBlock", "Topic", new { systemName = "LoginRegistrationInfo" })
            </div>
        </div>*@

</div>
