﻿@model PasswordRecoveryConfirmModel
@{
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Layout = "~/Views/Shared/_HomepageTemplateTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Models.Customer;
<div class="page password-recovery-page">
    <div class="panel panel-info form-panel">
        
       <div class="panel-heading">
           <div class="panel-title">
               <h3>@T("Account.PasswordRecovery")</h3>
           </div>
           </div>
        <div class="panel-body">
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            @if (!Model.DisablePasswordChanging)
            {
                using (Html.BeginForm())
                {
                    <div class="fieldset">
                        <div class="form-fields">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.NewPassword, new { @class = "col-md-2 control-label" }, ":")
                                <div class="col-md-6">    
                                    @Html.EditorFor(model => model.NewPassword, new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    @Html.RequiredHint()
                                    @Html.ValidationMessageFor(model => model.NewPassword)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-md-2 control-label" }, ":")
                                <div class="col-md-6">    
                                    @Html.EditorFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    @Html.RequiredHint()
                                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="submit" name="set-password" class="button-1 btn btn-default" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                    </div>
                }
            }
        </div>
    </div>
</div>
