﻿@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Layout = "~/Views/Shared/_HomepageTemplateTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="container">
    <div id="recoverypassword" style="margin-top:10px; " class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 centered">
        @*<div class="page password-recovery-page">
            <div class="panel panel-default form-panel">*@
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title" @*style="padding:10px 10px"*@>
                    <h3>@T("Account.PasswordRecovery")</h3>
                </div>
                </div>
            <div class="panel-body" style="padding:10px 10px">
                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="result" style="padding:10px 10px">
                        <strong>@Model.Result</strong>
                    </div>
                }
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                    <div class="fieldset">
                        <div class="form-fields">
                            @*<div class="form-group row">
                            @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" }, ":")
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>*@
                            <div class="form-group row">
                                @*@Html.LabelFor(model => model.LastName, new { @class = "col-md-2 control-label" }, ":")*@
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = @T("Account.Fields.Email") })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                <div class="col-md-3">
                                    @Html.RequiredHint()

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="submit" name="send-email" class="button-1 btn btn-default" value="@T("Account.PasswordRecovery.RecoverButton")" />
                    </div>
                }
            </div>
        </div>

        </div>
</div>