﻿@model RegisterResultModel
@using Nop.Web.Models.Customer;
@{
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Layout = "~/Views/Shared/_HomPageTemplateTwo.cshtml";
    

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);

    //continue URL
    var continueUrl = "";
    if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
    {
        continueUrl = this.Context.Request.QueryString["returnUrl"];
    }
    else
    {
        //continueUrl = Url.RouteUrl("~/admin");
        continueUrl = Url.Content("~/admin");
    }
}
<div class="page registration-result-page" style="padding:10px 10px">
    <div class="panel panel-info form-panel">

        <div class="panel-heading" @*style="padding:10px 10px"*@>
            <div class="panel-title">
                <h3>@T("Account.Register")</h3>
            </div>
            </div>
        <div class="panel-body" style="padding:10px 10px">
            <div class="result">
               <strong>@Model.Result</strong> 
            </div>
            <div class="buttons" style="padding:10px 10px">
                <input type="button" class="button-1 btn btn-default" onclick="location.href='@continueUrl'" value="@T("Account.Register.Result.Continue")" />
            </div>
        </div>
    </div>
</div>
