﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;
@*<strong><text style="font-size:18px">Features</text></strong>*@
@if (Model.Count > 0)
{
    @*<div class="product-grid home-page-product-grid">
    <div class="title mid-content-title">
        <strong>@T("HomePage.Products")</strong>
        <span class="pull-right">
            <a class="title-carousel-control" href="#carousel-example-generic-homepage-product" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="title-carousel-control" href="#carousel-example-generic-homepage-product" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>

        </span>

    </div>


    <div>*@
    <div>
        <div class="row">

            @foreach (var item in Model)
            {

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

                    @*<div class="item-box">*@
                        <div class="offer offer-default home-page-categories" style="border:none;box-shadow:none;height:auto ">
                            @*<div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                                <div class="offer offer-default silde-show-offer pull-text-center">*@
                                    @*@Html.Partial("_ProductBox", item)*@
                            @Html.Partial("_PricingBoxHomepage", item)
                                @*</div>
                            </div>*@
                        </div>
                    @*</div>*@
                </div>
            }

        </div>




    </div>
@:</br>


} 