﻿@model IList<ProductOverviewModel>
@{
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Layout = "~/Views/Shared/HomepageRoot.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.NewProducts").Text);
}
@using Nop.Web.Models.Catalog;
<div class="page recently-added-products-page">
    <div class="title mid-content-title">
        <div class="alignright">
            <a href="@Url.RouteUrl("NewProductsRSS")" class="pull-right header-rss" title="@T("Products.NewProducts.RSS.Hint")"><i class="fa fa-rss fa-2x header-rss-icon"></i></a>
        </div>
        <h3>@T("Products.NewProducts")</h3>
    </div>
    <div class="page-body">
        @if (Model.Count > 0)
        {
            <div class="product-list">
               @foreach (var product in Model)
               {
                   <div class="offer offer-default">
                       @Html.Partial("_ProductBox", product)
                   </div>
               }
            </div>        
        }
    </div>
</div>
