﻿@model ProductDetailsModel
@using Nop.Core
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Models.Catalog;
@{
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Layout = "~/Views/Shared/HomepageRoot.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
       
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        
        var storeName = EngineContext.Current.Resolve<Nop.Core.IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
       
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(storeName) + "\" />");
    }
    
    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(storeName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
}
<!--product breadcrumb-->

@*@Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)*@

<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 centered" style="margin-top:20px">
    <div class="panel panel-info" style="margin-top:20px">

        <div class="panel-heading">
            <div class="panel-title">
                <h3>@Model.Name</h3>
            </div>
        </div>
        <div class="panel-body">
            @Html.Widget("productdetails_top")
            @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
            {
                <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                    <div class=" product-essential">
                        @Html.Widget("productdetails_before_pictures", Model.Id)
                        <!--product pictures-->
                        <div class="col-md-3">
                            @Html.Partial("_ProductDetailsPictures", Model)
                            @Html.Widget("productdetails_after_pictures", Model.Id)
                        </div>

                        <div class="col-md-6 overview">

                            @*@if (!String.IsNullOrEmpty(Model.FullDescription))
                            {
                                <div class="short-description">
                                    @Model.FullDescription
                                </div>
                            }*@
                            <ul class="nav nav-tabs">
                                @if (!String.IsNullOrEmpty(Model.FullDescription))
                                {

                                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                                }
                                </ul>
                                <div class="tab-content">
                                @if (!String.IsNullOrEmpty(Model.FullDescription))
                                {
                                    <div class="full-description tab-pane active" id="description" itemprop="description">
                                        @Html.Raw(Model.FullDescription)
                                    </div>
                                }
                                </div>
                                @Html.Widget("productdetails_overview_top")
                                <!--product SKU, manufacturer part number, stock info-->
                                @Html.Partial("_SKU_Man_Stock", Model)
                                <!--Back in stock subscription-->
                                @Html.Partial("_BackInStockSubscription", Model)
                                <!--product manufacturers-->
                                @Html.Partial("_ProductManufacturers", Model.ProductManufacturers)
                                <!--product reviews-->
                                @Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)
                                <!--sample download-->
                                @Html.Partial("_DownloadSample", Model)
                                <!--attributes-->
                                @{
                                var dataDictAttributes = new ViewDataDictionary();
                                dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                                @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                                }
                                <!--gift card-->
                                @{
                                var dataDictGiftCard = new ViewDataDictionary();
                                dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                                @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                                }
                                <!--price & add to cart-->
                                @{
                                var dataDictPrice = new ViewDataDictionary();
                                dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                                @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)

                                var dataDictAddToCart = new ViewDataDictionary();
                                dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
                                }
                                <div class="form-group row">
                                    @Html.Partial("_ProductEmailAFriendButton", Model)
                                    @Html.Partial("_CompareProductsButton", Model)

                                </div>
                                @Html.Partial("_ShareButton", Model)
                                @Html.Widget("productdetails_overview_bottom")
                            </div>


                        <div class="clearfix"></div>
                        @*<ul class="nav nav-tabs">
                                @if (!String.IsNullOrEmpty(Model.FullDescription))
                                {

                                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                                }
                                @if (!String.IsNullOrEmpty(@Html.Partial("_ProductSpecifications", Model.ProductSpecifications).ToString()))
                                {

                                    <li><a href="#specification" data-toggle="tab">Specifications</a></li>
                                }
                                @if (!String.IsNullOrEmpty(@Html.Partial("_ProductTags", Model.ProductTags).ToString()))
                                {
                                    <li><a href="#tags" data-toggle="tab">Products Tags</a></li>
                                }
                            </ul>


                                            <div class="tab-content">
                                                @if (!String.IsNullOrEmpty(Model.FullDescription))
                                                {
                                                    <div class="full-description tab-pane active" id="description" itemprop="description">
                                                        @Html.Raw(Model.FullDescription)
                                                    </div>
                                                }
                                                @if (!String.IsNullOrEmpty(@Html.Partial("_ProductSpecifications", Model.ProductSpecifications).ToString()))
                                                {
                                                    <div class="full-description tab-pane" id="specification">
                                                        @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
                                                    </div>
                                                }
                                                @if (!String.IsNullOrEmpty(@Html.Partial("_ProductTags", Model.ProductTags).ToString()))
                                                {
                                                    <div class="full-description tab-pane" id="tags">
                                                        @Html.Partial("_ProductTags", Model.ProductTags)
                                                    </div>
                                                }
                                            </div>*@
                    </div>




                    @Html.Widget("productdetails_before_collateral")
                    @Html.Partial("_ProductTierPrices", Model.TierPrices)
                </div>

            }
            @Html.Widget("productdetails_bottom")
        </div>

    </div>

    @*<div class="product-collateral">

            @Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })
            @Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
        </div>*@
</div>