﻿@model IList<ProductOverviewModel>
@{
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Layout = "~/Views/Shared/HomepageRoot.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.RecentlyViewedProducts").Text);
}
@using Nop.Web.Models.Catalog;
<div class="page recently-viewed-products-page">
    <div class="title mid-content-title">
        <h3>@T("Products.RecentlyViewedProducts")</h3>
    </div>
    <div class="page-body">
        @if (Model.Count > 0)
        {
            <div class="product-list">
                @foreach (var product in Model)
                {
                    <div class="offer offer-default">
                        @Html.Partial("_ProductBox", product)
                    </div>
                }
            </div>
        }
    </div>
</div>
