﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    //current category ID
    //int currentCategoryId = 0;
    //if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
    //    Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    //{
    //    currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    //}


    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
}
<div class="container">
    <div class="row">

        @*<div class="col-md-3" >
            @if (IsSectionDefined("left"))
            {
                @RenderSection("left")*@
                @*@Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })*@
            @*}
            else
            {*@
                @*@Html.Widget("left_side_column_before")*@
                @*@Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })
                    @Html.Widget("left_side_column_after_category_navigation")
                    @Html.Action("ManufacturerNavigation", "Catalog", new { currentManufacturerId = currentManufacturerId })
                    @Html.Action("NewsletterBox", "Newsletter")*@
                @*@Html.Widget("left_side_column_after")*@
                @*@Html.Action("CustomerNavigation", "Customer")*@
                @*@Html.Action("VendorNavigation", "Catalog")*@
            @*}
        </div>*@
        <div class="col-md-9">
            <center>
                @Html.Widget("main_column_before")
                @RenderBody()
                @Html.Widget("main_column_after")
            </center>
        </div>

    </div>

</div>
