﻿@model ProductModel
@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Products.EditProductDetails").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "product-form" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.Catalog.Products.EditProductDetails") - @Model.Name @Html.ActionLink("(" + T("Admin.Catalog.Products.BackToList") + ")", "List")
        </div>
        <div class="options">
            <input type="submit" value="@T("Admin.Common.Preview")" onclick="javascript:OpenWindow('@Url.RouteUrl("Product", new { SeName = Model.SeName })', 800, 600, true); return false;" class="k-button" />
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            @*<input type="submit" id="copyproduct" name="copyproduct" class="k-button" value="@T("Admin.Catalog.Products.Copy")" />*@
            <span id="product-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("product-delete")

@*copy product form*@
<div id="copyproduct-window" style="display:none;">
    @using (Html.BeginForm("CopyProduct", "Product"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CopyProductModel.Id)
        <table style="text-align: left;">
            <tr>
                <td>
                    @Html.NopLabelFor(model => model.CopyProductModel.Name):
                </td>
                <td>
                    @Html.EditorFor(model => model.CopyProductModel.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.NopLabelFor(model => model.CopyProductModel.Published):
                </td>
                <td>
                    @Html.EditorFor(model => model.CopyProductModel.Published)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.NopLabelFor(model => model.CopyProductModel.CopyImages):
                </td>
                <td>
                    @Html.EditorFor(model => model.CopyProductModel.CopyImages)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="k-button" value="@T("Admin.Catalog.Products.Copy")" />
                </td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#copyproduct").click(function (e) {
            e.preventDefault();
            var window = $("#copyproduct-window");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    modal: true,
                    width: "400px",
                    title: "@T("Admin.Catalog.Products.Copy")",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        });
    });
</script>