﻿@model CheckoutShippingAddressModel
@using Nop.Web.Models.Checkout;
<div class="checkout-data">
    
    @if (Model.AllowPickUpInStore)
    {
        <div class="section pickup-in-store">
            <p class="selector">
                @{
        var pickupInStoreName = T("Checkout.PickUpInStore").Text;
        if (!String.IsNullOrEmpty(Model.PickUpInStoreFee))
        {
            pickupInStoreName = T("Checkout.PickUpInStoreAndFee", Model.PickUpInStoreFee).Text;
        }
                }
                @Html.CheckBoxFor(x => x.PickUpInStore, new { @onclick = "Shipping.togglePickUpInStore(this)" })
                <label for="@Html.FieldIdFor(model => model.PickUpInStore)">@pickupInStoreName</label>
            </p>
            <p class="description"><i>@T("Checkout.PickUpInStore.Description")</i></p>
        </div>
    }

    @Html.Widget("op_checkout_shipping_address_top")
    @if (Model.ExistingAddresses.Count > 0)
    {



        <div>
            <h4>@T("Checkout.SelectShippingAddressOrEnterNewOne")</h4>
            <div>
                <select name="shipping_address_id" id="shipping-address-select" class="form-control square-box"
                        title="" onchange="Shipping.newAddress(!this.value)">
                    @foreach (var address in Model.ExistingAddresses)
                    {
                        var addressLine = "";
                        addressLine += address.FirstName;
                        addressLine += " " + address.LastName;
                        if (address.StreetAddressEnabled && !String.IsNullOrEmpty(address.Address1))
                        {
                            addressLine += ", " + address.Address1;
                        }
                        if (address.CityEnabled && !String.IsNullOrEmpty(address.City))
                        {
                            addressLine += ", " + address.City;
                        }
                        if (address.StateProvinceEnabled && !String.IsNullOrEmpty(address.StateProvinceName))
                        {
                            addressLine += ", " + address.StateProvinceName;
                        }
                        if (address.ZipPostalCodeEnabled && !String.IsNullOrEmpty(address.ZipPostalCode))
                        {
                            addressLine += " " + address.ZipPostalCode;
                        }
                        if (address.CountryEnabled && !String.IsNullOrWhiteSpace(address.CountryName))
                        {
                            addressLine += ", " + address.CountryName;
                        }
                        <option value="@(address.Id)">@(addressLine)</option>
                    }
                    <option value="" selected="@Model.NewAddressPreselected">@T("Checkout.NewAddress")</option>
                </select>
            </div>
            <br />

        </div>






    }
    @Html.Widget("op_checkout_shipping_address_middle")
    <div class="section new-shipping-address" id="shipping-new-address-form">
        <div class="enter-address">
            <div class="enter-address-body">
                @{
                    var dataDictAddress = new ViewDataDictionary();
                    //Merge ModelState (required for validation)
                    dataDictAddress.ModelState.Merge(ViewData.ModelState);
                    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "ShippingNewAddress";
                    @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)
                }
            </div>
        </div>
        @Html.Widget("op_checkout_shipping_address_bottom")
    </div>
    

</div>
