﻿@model IList<CategoryModel>

@using Nop.Web.Models.Catalog;


@if (Model.Count > 0)
{
    <div >
        <div class="row" style="padding-left:15px;padding-right:15px" >
            
            @foreach (var item in Model)
            {




                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" >
                        
                    <div class="item-box">
                        <div class="offer offer-default home-page-categories">
                            <h2 class="product-title pull-text-center">
                                <a href="@Url.RouteUrl("Category", new {SeName = item.SeName})" title="@item.PictureModel.Title">
                                    @item.Name</a>
                            </h2>
                            <div class="picture pull-text-center">
                                <a href="@Url.RouteUrl("Category", new {SeName = item.SeName})" title="@item.PictureModel.Title">
                                    <img  class="img-responsive" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl"
                                          title="@item.PictureModel.Title" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            } 

        </div>

        


    </div>
    @:</br>


}