﻿@model IList<VendorModel>
@{
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Layout = "~/Views/Shared/HomepageRoot.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Vendors").Text);
}
@using Nop.Web.Models.Catalog;
<div class="page vendor-list-page">
    <div class="panel panel-info form-panel">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>@T("Vendors.List")</h3>
            </div>
            </div>
        <div class="panel-body">
            @if (Model.Count > 0)
            {
                <ul class="vendor-list">
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href="@Url.RouteUrl("Vendor", new { vendorId = item.Id, SeName = item.SeName })" class="vendor">
                                @item.Name
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
