﻿@model CustomerUserSettingsModel
@using Nop.Core.Domain.Customers;
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.CustomerUser").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Configuration.Settings.CustomerUser")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
        </div>
    </div>
    
    @Html.ValidationSummary(false)

    <script>
        $(document).ready(function() {
            $("#customersettings-edit").kendoTabStrip({
                animation:  {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select
            });
        });
    </script>
    <div id="customersettings-edit">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.CustomerUser.CustomerSettings")
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.CustomerUser.CustomerFormFields")
            </li>
            <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.CustomerUser.AddressFormFields")
            </li>           
            <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.CustomerUser.DateTimeSettings")
            </li>
            <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.CustomerUser.ExternalAuthenticationSettings")
            </li>
            @*<li @Html.RenderSelectedTabIndex(5, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.CustomerUser.CampaignFormFields")
            </li>
            <li @Html.RenderSelectedTabIndex(6, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.CustomerUser.EmailAccountFormFields")
            </li>*@
        </ul>
        <div>
            @TabCustomerSettings()
        </div>
        <div>
            @TabCustomerFormFields()
        </div>
        <div>
            @TabAddressFormFields()
        </div>
        
        <div>
            @TabDateTimeSettings()
        </div>
        <div>
            @TabExternalAuthenticationSettings()
        </div>
        @*<div>
            @TabCampaignFormFields()
        </div>
        <div>
            @TabEmailAccountFormFields()
        </div>*@
    </div>

    {
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "customersettings-edit");
        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }

    @*save selected tab index*@
	<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">
    
}
@helper TabCustomerSettings()
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.CustomerSettings.AllowCustomersToUploadAvatars)").click(toggleAvatar);
            $("#@Html.FieldIdFor(model => model.CustomerSettings.UsernamesEnabled)").click(toggleUsername);


            toggleAvatar();
            toggleUsername();
        });

        function toggleAvatar() {
            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.AllowCustomersToUploadAvatars)').is(':checked')) {
                $('#pnlDefaultAvatarEnabled').show();
            }
            else {
                $('#pnlDefaultAvatarEnabled').hide();
            }
        }

        function toggleUsername() {
            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.UsernamesEnabled)').is(':checked')) {
                $('#pnlAllowUsersToChangeUsernames').show();
                $('#pnlCheckUsernameAvailability').show();
            }
            else {
                $('#pnlAllowUsersToChangeUsernames').hide();
                $('#pnlCheckUsernameAvailability').hide();
            }
        }
        
    </script>
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.UsernamesEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.UsernamesEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.UsernamesEnabled)
            </td>
        </tr>
        <tr id="pnlAllowUsersToChangeUsernames">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.AllowUsersToChangeUsernames):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.AllowUsersToChangeUsernames)
                @Html.ValidationMessageFor(model => model.CustomerSettings.AllowUsersToChangeUsernames)
            </td>
        </tr>
        <tr id="pnlCheckUsernameAvailability">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.CheckUsernameAvailabilityEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.CheckUsernameAvailabilityEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.CheckUsernameAvailabilityEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.UserRegistrationType):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.CustomerSettings.UserRegistrationType, ((UserRegistrationType)Model.CustomerSettings.UserRegistrationType).ToSelectList())
                @Html.ValidationMessageFor(model => model.CustomerSettings.UserRegistrationType)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.AllowCustomersToUploadAvatars):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.AllowCustomersToUploadAvatars)
                @Html.ValidationMessageFor(model => model.CustomerSettings.AllowCustomersToUploadAvatars)
            </td>
        </tr>
        <tr id="pnlDefaultAvatarEnabled">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.DefaultAvatarEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.DefaultAvatarEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.DefaultAvatarEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.ShowCustomersLocation):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.ShowCustomersLocation)
                @Html.ValidationMessageFor(model => model.CustomerSettings.ShowCustomersLocation)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.ShowCustomersJoinDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.ShowCustomersJoinDate)
                @Html.ValidationMessageFor(model => model.CustomerSettings.ShowCustomersJoinDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.AllowViewingProfiles):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.AllowViewingProfiles)
                @Html.ValidationMessageFor(model => model.CustomerSettings.AllowViewingProfiles)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.NotifyNewCustomerRegistration):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.NotifyNewCustomerRegistration)
                @Html.ValidationMessageFor(model => model.CustomerSettings.NotifyNewCustomerRegistration)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.HideDownloadableProductsTab):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.HideDownloadableProductsTab)
                @Html.ValidationMessageFor(model => model.CustomerSettings.HideDownloadableProductsTab)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.HideBackInStockSubscriptionsTab):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.HideBackInStockSubscriptionsTab)
                @Html.ValidationMessageFor(model => model.CustomerSettings.HideBackInStockSubscriptionsTab)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.HideCampaignsTab):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.HideCampaignsTab)
                @Html.ValidationMessageFor(model => model.CustomerSettings.HideCampaignsTab)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.CustomerNameFormat):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.CustomerSettings.CustomerNameFormat, ((CustomerNameFormat)Model.CustomerSettings.CustomerNameFormat).ToSelectList())
                @Html.ValidationMessageFor(model => model.CustomerSettings.CustomerNameFormat)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.DefaultPasswordFormat):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.CustomerSettings.DefaultPasswordFormat, ((PasswordFormat)Model.CustomerSettings.DefaultPasswordFormat).ToSelectList())
                @Html.ValidationMessageFor(model => model.CustomerSettings.DefaultPasswordFormat)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.PasswordMinLength):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.PasswordMinLength)
                @Html.ValidationMessageFor(model => model.CustomerSettings.PasswordMinLength)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.PasswordRecoveryLinkDaysValid):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.PasswordRecoveryLinkDaysValid)
                @Html.ValidationMessageFor(model => model.CustomerSettings.PasswordRecoveryLinkDaysValid)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.HideNewsletterBlock):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.HideNewsletterBlock)
                @Html.ValidationMessageFor(model => model.CustomerSettings.HideNewsletterBlock)
            </td>
        </tr>
        <tr id="pnlNewsletterBlockAllowToUnsubscribe">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.NewsletterBlockAllowToUnsubscribe):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.NewsletterBlockAllowToUnsubscribe)
                @Html.ValidationMessageFor(model => model.CustomerSettings.NewsletterBlockAllowToUnsubscribe)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.StoreLastVisitedPage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.StoreLastVisitedPage)
                @Html.ValidationMessageFor(model => model.CustomerSettings.StoreLastVisitedPage)
            </td>
        </tr>
    </table>
}
@helper TabCustomerFormFields()
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.CustomerSettings.DateOfBirthEnabled)").click(toggleCustomerRequiredFormField);
            $("#@Html.FieldIdFor(model => model.CustomerSettings.DateOfBirthRequired)").click(toggleCustomerRequiredFormField);
            $("#@Html.FieldIdFor(model => model.CustomerSettings.CountryEnabled)").click(toggleCustomerCountryFormField);
            $("#@Html.FieldIdFor(model => model.CustomerSettings.StateProvinceEnabled)").click(toggleCustomerStateProvinceFormField);
            $("#@Html.FieldIdFor(model => model.CustomerSettings.CompanyEnabled)").click(toggleCustomerRequiredFormField);
            $("#@Html.FieldIdFor(model => model.CustomerSettings.StreetAddressEnabled)").click(toggleCustomerRequiredFormField);
            $("#@Html.FieldIdFor(model => model.CustomerSettings.StreetAddress2Enabled)").click(toggleCustomerRequiredFormField);
            $("#@Html.FieldIdFor(model => model.CustomerSettings.ZipPostalCodeEnabled)").click(toggleCustomerRequiredFormField);
            $("#@Html.FieldIdFor(model => model.CustomerSettings.CityEnabled)").click(toggleCustomerRequiredFormField);
            $("#@Html.FieldIdFor(model => model.CustomerSettings.PhoneEnabled)").click(toggleCustomerRequiredFormField);
            $("#@Html.FieldIdFor(model => model.CustomerSettings.FaxEnabled)").click(toggleCustomerRequiredFormField);
            $("#@Html.FieldIdFor(model => model.CustomerSettings.NewsletterEnabled)").click(toggleNewsletterEnabledField);
            $("#@Html.FieldIdFor(model => model.CustomerSettings.HideNewsletterBlock)").click(toggleHideNewsletterBlock);


            toggleCustomerCountryFormField();
            toggleCustomerStateProvinceFormField();
            toggleCustomerRequiredFormField();
            toggleNewsletterEnabledField();
            toggleHideNewsletterBlock();
        });

        function toggleCustomerCountryFormField() {
            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.CountryEnabled)').is(':checked')) {
                $('#pnlCustomerCountryRequired').show();
                $('#pnlCustomerStateProvinceEnabled').show();
                toggleCustomerStateProvinceFormField();
            } else {
                $('#pnlCustomerCountryRequired').hide();
                $('#pnlCustomerStateProvinceEnabled').hide();
                toggleCustomerStateProvinceFormField();
            }
        }

        function toggleCustomerStateProvinceFormField() {
            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.CountryEnabled)').is(':checked') &&
                $('#@Html.FieldIdFor(model => model.CustomerSettings.StateProvinceEnabled)').is(':checked')) {
                $('#pnlCustomerStateProvinceRequired').show();
            } else {
                $('#pnlCustomerStateProvinceRequired').hide();
            }
        }

        function toggleCustomerRequiredFormField() {
            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.DateOfBirthEnabled)').is(':checked')) {
                $('#pnlCustomerDateOfBirthRequired').show();
            } else {
                $('#pnlCustomerDateOfBirthRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.DateOfBirthEnabled)').is(':checked') &&
                $('#@Html.FieldIdFor(model => model.CustomerSettings.DateOfBirthRequired)').is(':checked')) {
                $('#pnlDateOfBirthMinimumAge').show();
            } else {
                $('#pnlDateOfBirthMinimumAge').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.CompanyEnabled)').is(':checked')) {
                $('#pnlCustomerCompanyRequired').show();
            } else {
                $('#pnlCustomerCompanyRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.StreetAddressEnabled)').is(':checked')) {
                $('#pnlCustomerStreetAddressRequired').show();
            } else {
                $('#pnlCustomerStreetAddressRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.StreetAddress2Enabled)').is(':checked')) {
                $('#pnlCustomerStreetAddress2Required').show();
            } else {
                $('#pnlCustomerStreetAddress2Required').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.ZipPostalCodeEnabled)').is(':checked')) {
                $('#pnlCustomerZipPostalCodeRequired').show();
            } else {
                $('#pnlCustomerZipPostalCodeRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.CityEnabled)').is(':checked')) {
                $('#pnlCustomerCityRequired').show();
            } else {
                $('#pnlCustomerCityRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.PhoneEnabled)').is(':checked')) {
                $('#pnlCustomerPhoneRequired').show();
            } else {
                $('#pnlCustomerPhoneRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.FaxEnabled)').is(':checked')) {
                $('#pnlCustomerFaxRequired').show();
            } else {
                $('#pnlCustomerFaxRequired').hide();
            }
        }

        function toggleNewsletterEnabledField() {
            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.NewsletterEnabled)').is(':checked')) {
                $('#pnlCustomerNewsletterTickedByDefault').show();
            } else {
                $('#pnlCustomerNewsletterTickedByDefault').hide();
            }
        }

        function toggleHideNewsletterBlock() {
            if ($('#@Html.FieldIdFor(model => model.CustomerSettings.HideNewsletterBlock)').is(':checked')) {
                $('#pnlNewsletterBlockAllowToUnsubscribe').hide();
            }
            else {
                $('#pnlNewsletterBlockAllowToUnsubscribe').show();
            }
        }
        
    </script>
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <em>@T("Admin.Configuration.Settings.CustomerUser.CustomerFormFields.Description")</em>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.GenderEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.GenderEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.GenderEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.DateOfBirthEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.DateOfBirthEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.DateOfBirthEnabled)
            </td>
        </tr>
        <tr id="pnlCustomerDateOfBirthRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.DateOfBirthRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.DateOfBirthRequired)
                @Html.ValidationMessageFor(model => model.CustomerSettings.DateOfBirthRequired)
            </td>
        </tr>
        <tr id="pnlDateOfBirthMinimumAge">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.DateOfBirthMinimumAge):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.DateOfBirthMinimumAge)
                @Html.ValidationMessageFor(model => model.CustomerSettings.DateOfBirthMinimumAge)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.CompanyEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.CompanyEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.CompanyEnabled)
            </td>
        </tr>
        <tr id="pnlCustomerCompanyRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.CompanyRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.CompanyRequired)
                @Html.ValidationMessageFor(model => model.CustomerSettings.CompanyRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.StreetAddressEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.StreetAddressEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.StreetAddressEnabled)
            </td>
        </tr>
        <tr id="pnlCustomerStreetAddressRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.StreetAddressRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.StreetAddressRequired)
                @Html.ValidationMessageFor(model => model.CustomerSettings.StreetAddressRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.StreetAddress2Enabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.StreetAddress2Enabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.StreetAddress2Enabled)
            </td>
        </tr>
        <tr id="pnlCustomerStreetAddress2Required">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.StreetAddress2Required):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.StreetAddress2Required)
                @Html.ValidationMessageFor(model => model.CustomerSettings.StreetAddress2Required)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.ZipPostalCodeEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.ZipPostalCodeEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.ZipPostalCodeEnabled)
            </td>
        </tr>
        <tr id="pnlCustomerZipPostalCodeRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.ZipPostalCodeRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.ZipPostalCodeRequired)
                @Html.ValidationMessageFor(model => model.CustomerSettings.ZipPostalCodeRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.CityEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.CityEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.CityEnabled)
            </td>
        </tr>
        <tr id="pnlCustomerCityRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.CityRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.CityRequired)
                @Html.ValidationMessageFor(model => model.CustomerSettings.CityRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.CountryEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.CountryEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.CountryEnabled)
            </td>
        </tr>
        <tr id="pnlCustomerCountryRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.CountryRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.CountryRequired)
                @Html.ValidationMessageFor(model => model.CustomerSettings.CountryRequired)
            </td>
        </tr>
        <tr id="pnlCustomerStateProvinceEnabled">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.StateProvinceEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.StateProvinceEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.StateProvinceEnabled)
            </td>
        </tr>
        <tr id="pnlCustomerStateProvinceRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.StateProvinceRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.StateProvinceRequired)
                @Html.ValidationMessageFor(model => model.CustomerSettings.StateProvinceRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.PhoneEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.PhoneEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.PhoneEnabled)
            </td>
        </tr>
        <tr id="pnlCustomerPhoneRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.PhoneRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.PhoneRequired)
                @Html.ValidationMessageFor(model => model.CustomerSettings.PhoneRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.FaxEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.FaxEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.FaxEnabled)
            </td>
        </tr>
        <tr id="pnlCustomerFaxRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.FaxRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.FaxRequired)
                @Html.ValidationMessageFor(model => model.CustomerSettings.FaxRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.AcceptPrivacyPolicyEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.AcceptPrivacyPolicyEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.AcceptPrivacyPolicyEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.NewsletterEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.NewsletterEnabled)
                @Html.ValidationMessageFor(model => model.CustomerSettings.NewsletterEnabled)
            </td>
        </tr>
        <tr id="pnlCustomerNewsletterTickedByDefault">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSettings.NewsletterTickedByDefault):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSettings.NewsletterTickedByDefault)
                @Html.ValidationMessageFor(model => model.CustomerSettings.NewsletterTickedByDefault)
            </td>
        </tr>
    </table>
    //render custom customer attributes
    @Html.Action("ListBlock", "CustomerAttribute")
}
@helper TabAddressFormFields()
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.AddressSettings.CountryEnabled)").click(toggleAddressCountryFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.CompanyEnabled)").click(toggleAddressRequiredFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.StreetAddressEnabled)").click(toggleAddressRequiredFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.StreetAddress2Enabled)").click(toggleAddressRequiredFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.ZipPostalCodeEnabled)").click(toggleAddressRequiredFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.CityEnabled)").click(toggleAddressRequiredFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.PhoneEnabled)").click(toggleAddressRequiredFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.FaxEnabled)").click(toggleAddressRequiredFormField);


            toggleAddressCountryFormField();
            toggleAddressRequiredFormField();
        });

        function toggleAddressCountryFormField() {
            if ($('#@Html.FieldIdFor(model => model.AddressSettings.CountryEnabled)').is(':checked')) {
                $('#pnlAddressStateProvinceEnabled').show();
            }
            else {
                $('#pnlAddressStateProvinceEnabled').hide();
            }
        }

        function toggleAddressRequiredFormField() {
            if ($('#@Html.FieldIdFor(model => model.AddressSettings.CompanyEnabled)').is(':checked')) {
                $('#pnlAddressCompanyRequired').show();
            }
            else {
                $('#pnlAddressCompanyRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.AddressSettings.StreetAddressEnabled)').is(':checked')) {
                $('#pnlAddressStreetAddressRequired').show();
            }
            else {
                $('#pnlAddressStreetAddressRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.AddressSettings.StreetAddress2Enabled)').is(':checked')) {
                $('#pnlAddressStreetAddress2Required').show();
            }
            else {
                $('#pnlAddressStreetAddress2Required').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.AddressSettings.ZipPostalCodeEnabled)').is(':checked')) {
                $('#pnlAddressZipPostalCodeRequired').show();
            }
            else {
                $('#pnlAddressZipPostalCodeRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.AddressSettings.CityEnabled)').is(':checked')) {
                $('#pnlAddressCityRequired').show();
            }
            else {
                $('#pnlAddressCityRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.AddressSettings.PhoneEnabled)').is(':checked')) {
                $('#pnlAddressPhoneRequired').show();
            }
            else {
                $('#pnlAddressPhoneRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.AddressSettings.FaxEnabled)').is(':checked')) {
                $('#pnlAddressFaxRequired').show();
            }
            else {
                $('#pnlAddressFaxRequired').hide();
            }
        }

    </script>
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <em>@T("Admin.Configuration.Settings.CustomerUser.AddressFormFields.Description")</em>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.CompanyEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.CompanyEnabled)
                @Html.ValidationMessageFor(model => model.AddressSettings.CompanyEnabled)
            </td>
        </tr>
        <tr id="pnlAddressCompanyRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.CompanyRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.CompanyRequired)
                @Html.ValidationMessageFor(model => model.AddressSettings.CompanyRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.StreetAddressEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.StreetAddressEnabled)
                @Html.ValidationMessageFor(model => model.AddressSettings.StreetAddressEnabled)
            </td>
        </tr>
        <tr id="pnlAddressStreetAddressRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.StreetAddressRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.StreetAddressRequired)
                @Html.ValidationMessageFor(model => model.AddressSettings.StreetAddressRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.StreetAddress2Enabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.StreetAddress2Enabled)
                @Html.ValidationMessageFor(model => model.AddressSettings.StreetAddress2Enabled)
            </td>
        </tr>
        <tr id="pnlAddressStreetAddress2Required">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.StreetAddress2Required):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.StreetAddress2Required)
                @Html.ValidationMessageFor(model => model.AddressSettings.StreetAddress2Required)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.ZipPostalCodeEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.ZipPostalCodeEnabled)
                @Html.ValidationMessageFor(model => model.AddressSettings.ZipPostalCodeEnabled)
            </td>
        </tr>
        <tr id="pnlAddressZipPostalCodeRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.ZipPostalCodeRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.ZipPostalCodeRequired)
                @Html.ValidationMessageFor(model => model.AddressSettings.ZipPostalCodeRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.CityEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.CityEnabled)
                @Html.ValidationMessageFor(model => model.AddressSettings.CityEnabled)
            </td>
        </tr>
        <tr id="pnlAddressCityRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.CityRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.CityRequired)
                @Html.ValidationMessageFor(model => model.AddressSettings.CityRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.CountryEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.CountryEnabled)
                @Html.ValidationMessageFor(model => model.AddressSettings.CountryEnabled)
            </td>
        </tr>
        <tr id="pnlAddressStateProvinceEnabled">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.StateProvinceEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.StateProvinceEnabled)
                @Html.ValidationMessageFor(model => model.AddressSettings.StateProvinceEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.PhoneEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.PhoneEnabled)
                @Html.ValidationMessageFor(model => model.AddressSettings.PhoneEnabled)
            </td>
        </tr>
        <tr id="pnlAddressPhoneRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.PhoneRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.PhoneRequired)
                @Html.ValidationMessageFor(model => model.AddressSettings.PhoneRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.FaxEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.FaxEnabled)
                @Html.ValidationMessageFor(model => model.AddressSettings.FaxEnabled)
            </td>
        </tr>
        <tr id="pnlAddressFaxRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddressSettings.FaxRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddressSettings.FaxRequired)
                @Html.ValidationMessageFor(model => model.AddressSettings.FaxRequired)
            </td>
        </tr>
    </table>
    //render custom address attributes
    @Html.Action("ListBlock", "AddressAttribute")
}
@helper TabDateTimeSettings()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DateTimeSettings.AllowCustomersToSetTimeZone):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DateTimeSettings.AllowCustomersToSetTimeZone)
                @Html.ValidationMessageFor(model => model.DateTimeSettings.AllowCustomersToSetTimeZone)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DateTimeSettings.DefaultStoreTimeZoneId):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.DateTimeSettings.DefaultStoreTimeZoneId, Model.DateTimeSettings.AvailableTimeZones)
                @Html.ValidationMessageFor(model => model.DateTimeSettings.DefaultStoreTimeZoneId)
            </td>
        </tr>
    </table>
}
@helper TabExternalAuthenticationSettings()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ExternalAuthenticationSettings.AutoRegisterEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ExternalAuthenticationSettings.AutoRegisterEnabled)
                @Html.ValidationMessageFor(model => model.ExternalAuthenticationSettings.AutoRegisterEnabled)
            </td>
        </tr>
    </table>
}
@*@helper TabCampaignFormFields()
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.CampaignSettings.NameEnabled)").click(toggleCampaignFormField);
            $("#@Html.FieldIdFor(model => model.CampaignSettings.SubjectEnabled)").click(toggleCampaignFormField);
            $("#@Html.FieldIdFor(model => model.CampaignSettings.BodyEnabled)").click(toggleCampaignFormField);

           // toggleCampaignFormField();
            toggleCampaignFormField();
        });

        function toggleCampaignFormField() {
            if ($('#@Html.FieldIdFor(model => model.CampaignSettings.NameEnabled)').is(':checked')) {
                $('#pnlCampaignNameRequired').show();
            }
            else {
                $('#pnlCampaignNameRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.CampaignSettings.SubjectEnabled)').is(':checked')) {
                $('#pnlCampaignSubjectRequired').show();
            }
            else {
                $('#pnlCampaignSubjectRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.CampaignSettings.BodyEnabled)').is(':checked')) {
                $('#pnlCampaignBodyRequired').show();
            }
            else {
                $('#pnlCampaignBodyRequired').hide();
            }
        }
    </script>
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <em>@T("Admin.Configuration.Settings.CustomerUser.CampaignFormFields.Description")</em>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CampaignSettings.NameEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CampaignSettings.NameEnabled)
                @Html.ValidationMessageFor(model => model.CampaignSettings.NameEnabled)
            </td>
        </tr>
        <tr id="pnlCampaignNameRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CampaignSettings.NameRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CampaignSettings.NameRequired)
                @Html.ValidationMessageFor(model => model.CampaignSettings.NameRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CampaignSettings.SubjectEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CampaignSettings.SubjectEnabled)
                @Html.ValidationMessageFor(model => model.CampaignSettings.SubjectEnabled)
            </td>
        </tr>
        <tr id="pnlCampaignSubjectRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CampaignSettings.SubjectRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CampaignSettings.SubjectRequired)
                @Html.ValidationMessageFor(model => model.CampaignSettings.SubjectRequired)
            </td>
        </tr>



        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CampaignSettings.BodyEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CampaignSettings.BodyEnabled)
                @Html.ValidationMessageFor(model => model.CampaignSettings.BodyEnabled)
            </td>
        </tr>
        <tr id="pnlCampaignBodyRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CampaignSettings.BodyRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CampaignSettings.BodyRequired)
                @Html.ValidationMessageFor(model => model.CampaignSettings.BodyRequired)
            </td>
        </tr>


    </table>

}
@helper TabEmailAccountFormFields()
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.EmailAccountSettings.EmailEnabled)").click(toggleEmailAccountRequiredFormField);
            $("#@Html.FieldIdFor(model => model.EmailAccountSettings.DisplayNameEnabled)").click(toggleEmailAccountRequiredFormField);
            $("#@Html.FieldIdFor(model => model.EmailAccountSettings.HostEnabled)").click(toggleEmailAccountRequiredFormField);
            $("#@Html.FieldIdFor(model => model.EmailAccountSettings.PortEnabled)").click(toggleEmailAccountRequiredFormField);
            $("#@Html.FieldIdFor(model => model.EmailAccountSettings.UsernameEnabled)").click(toggleEmailAccountRequiredFormField);
            $("#@Html.FieldIdFor(model => model.EmailAccountSettings.PasswordEnabled)").click(toggleEmailAccountRequiredFormField);
            $("#@Html.FieldIdFor(model => model.EmailAccountSettings.EnableSslEnabled)").click(toggleEmailAccountRequiredFormField);
            $("#@Html.FieldIdFor(model => model.EmailAccountSettings.UseDefaultCredentialsEnabled)").click(toggleEmailAccountRequiredFormField);
            $("#@Html.FieldIdFor(model => model.EmailAccountSettings.IsDefaultEmailAccountEnabled)").click(toggleEmailAccountRequiredFormField);

            toggleEmailAccountRequiredFormField();
        });

        function toggleEmailAccountRequiredFormField() {
            if ($('#@Html.FieldIdFor(model => model.EmailAccountSettings.EmailEnabled)').is(':checked')) {
                $('#pnlEmailAccountNameRequired').show();
            }
            else {
                $('#pnlEmailAccountNameRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.EmailAccountSettings.DisplayNameEnabled)').is(':checked')) {
                $('#pnlEmailAccountDisplayNameRequired').show();
            }
            else {
                $('#pnlEmailAccountDisplayNameRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.EmailAccountSettings.HostEnabled)').is(':checked')) {
                $('#pnlEmailAccountHostRequired').show();
            }
            else {
                $('#pnlEmailAccountHostRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.EmailAccountSettings.PortEnabled)').is(':checked')) {
                $('#pnlEmailAccountPortRequired').show();
            }
            else {
                $('#pnlEmailAccountPortRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.EmailAccountSettings.UsernameEnabled)').is(':checked')) {
                $('#pnlEmailAccountUsernameRequired').show();
            }
            else {
                $('#pnlEmailAccountUsernameRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.EmailAccountSettings.PasswordEnabled)').is(':checked')) {
                $('#pnlEmailAccountPasswordRequired').show();
            }
            else {
                $('#pnlEmailAccountPasswordRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.EmailAccountSettings.EnableSslEnabled)').is(':checked')) {
                $('#pnlEmailAccountEnableSslRequired').show();
            }
            else {
                $('#pnlEmailAccountEnableSslRequired').hide();
            }
            if ($('#@Html.FieldIdFor(model => model.EmailAccountSettings.UseDefaultCredentialsEnabled)').is(':checked')) {
                $('#pnlEmailAccountUseDefaultCredentialsRequired').show();
            }
            else {
                $('#pnlEmailAccountUseDefaultCredentialsRequired').hide();
            }
            if ($('#@Html.FieldIdFor(model => model.EmailAccountSettings.IsDefaultEmailAccountEnabled)').is(':checked')) {
                $('#pnlEmailAccountIsDefaultEmailAccountRequired').show();
            }
            else {
                $('#pnlEmailAccountIsDefaultEmailAccountRequired').hide();
            }
        }

    </script>
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <em>@T("Admin.Configuration.Settings.CustomerUser.EmailAccountFormFields.Description")</em>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.EmailEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.EmailEnabled)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.EmailEnabled)
            </td>
        </tr>
        <tr id="pnlEmailAccountNameRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.EmailRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.EmailRequired)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.EmailRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.DisplayNameEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.DisplayNameEnabled)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.DisplayNameEnabled)
            </td>
        </tr>
        <tr id="pnlEmailAccountDisplayNameRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.DisplayNameRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.DisplayNameRequired)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.DisplayNameRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.HostEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.HostEnabled)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.HostEnabled)
            </td>
        </tr>
        <tr id="pnlEmailAccountHostRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.HostRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.HostRequired)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.HostRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.PortEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.PortEnabled)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.PortEnabled)
            </td>
        </tr>
        <tr id="pnlEmailAccountPortRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.PortRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.PortRequired)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.PortRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.UsernameEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.UsernameEnabled)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.UsernameEnabled)
            </td>
        </tr>
        <tr id="pnlEmailAccountUsernameRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.UsernameRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.UsernameRequired)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.UsernameRequired)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.PasswordEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.PasswordEnabled)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.PasswordEnabled)
            </td>
        </tr>
        <tr id="pnlEmailAccountPasswordRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.PasswordRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.PasswordRequired)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.PasswordRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.EnableSslEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.EnableSslEnabled)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.EnableSslEnabled)
            </td>
        </tr>
        <tr id="pnlEmailAccountEnableSslRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.EnableSslRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.EnableSslRequired)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.EnableSslRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.UseDefaultCredentialsEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.UseDefaultCredentialsEnabled)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.UseDefaultCredentialsEnabled)
            </td>
        </tr>
        <tr id="pnlEmailAccountEnableSslRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.UseDefaultCredentialsRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.UseDefaultCredentialsRequired)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.UseDefaultCredentialsRequired)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.IsDefaultEmailAccountEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.IsDefaultEmailAccountEnabled)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.IsDefaultEmailAccountEnabled)
            </td>
        </tr>
        <tr id="pnlEmailAccountIsDefaultEmailAccountRequired">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAccountSettings.IsDefaultEmailAccountRequired):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EmailAccountSettings.IsDefaultEmailAccountRequired)
                @Html.ValidationMessageFor(model => model.EmailAccountSettings.IsDefaultEmailAccountRequired)
            </td>
        </tr>
    </table>

}*@