﻿@using Nop.Admin.Models.EmailManagement
@model EmailListModel
@{
    //resources for product tags input
    Html.AppendCssFileParts("~/Content/tagit/jquery.tagit.css");
    Html.AppendScriptParts("~/Scripts/tag-it.min.js");
}
@using Nop.Core.Domain.Catalog;
@using Nop.Services.Catalog;
@using System.Text;

  @*@if (Model.CountryEnabled && Model.StateProvinceEnabled)
  {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function() {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetStatesByCountryId", "Country"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "false" },
                    success: function(data) {
                        ddlStates.html('');
                        $.each(data, function(id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                    }
                });
            });
        });
    </script>
  @*}*@
<table class="adminContent">
    @if (Model.Id > 0)
    {
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Id):
            </td>
            <td class="adminData">
                @Model.Id.ToString()
                @Html.ValidationMessageFor(model => model.Id)
            </td>
        </tr>
    }
    
   
    @*<tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.EmailListTemplateId):
        </td>
        <td class="adminData">
            @Html.DropDownListFor(model => model.EmailListTemplateId, Model.AvailableEmailListTemplates)
            @Html.ValidationMessageFor(model => model.EmailListTemplateId)
        </td>
    </tr>*@
</table>
@(Html.LocalizedEditor<EmailListModel, EmailListLocalizedModel>("product-info-localized",
    @<table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Locales[item].Email):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Locales[item].Email)
                @Html.ValidationMessageFor(model => model.Locales[item].Email)
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                @Html.HiddenFor(model => model.Locales[item].LanguageId)
            </td>
        </tr>
    </table>
                ,
                @<table class="adminContent">
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.Email):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.Email)
                            @*@Html.ValidationMessageFor(model => model.Email)*@
                        </td>
                    </tr>
       
                </table>
                                            ))
<table class="adminContent">
    @*@if (Model.FirstNameEnabled)
        {*@
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.FirstName):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </td>
    </tr>
    @*}
        @if (Model.LastNameEnabled)
        {*@
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.LastName):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </td>
    </tr>
    @*}
        @if (Model.EmailEnabled)
        {
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Email):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </td>
    </tr>
    @*}
   
        @if (Model.StreetAddressEnabled)
         {*@
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Address1):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Address1)
            @Html.ValidationMessageFor(model => model.Address1)
        </td>
    </tr>
    @*}
        @if (Model.StreetAddress2Enabled)
        {*@
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Address2):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Address2)
            @Html.ValidationMessageFor(model => model.Address2)
        </td>
    </tr>
    @*}     @if (Model.CountryEnabled)
    {*@
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Country):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </td>
    </tr>
    @*}
        @if (Model.CountryEnabled && Model.StateProvinceEnabled)
        {*@
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.State):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </td>
    </tr>
    @*}
        @if (Model.CityEnabled)
        {*@
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.City):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </td>
    </tr>
    @*}
        @if (Model.ZipPostalCodeEnabled)
            {*@
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ZipPostalCode):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ZipPostalCode)
            @Html.ValidationMessageFor(model => model.ZipPostalCode)
        </td>
    </tr>
    @*}
    @if (Model.PhoneEnabled)
         {*@
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.PhoneNumber):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </td>
    </tr>
    @*}*@
</table>
 
<table class="adminContent">
    <tr class="adminSeparator">
        <td colspan="2">
            <hr />
        </td>
    </tr>

    @*<tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Published):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Published)
            @Html.ValidationMessageFor(model => model.Published)
        </td>
    </tr>*@
    @if (Model.CreatedOn.HasValue)
    {
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CreatedOn):
            </td>
            <td class="adminData">
                @Model.CreatedOn.Value.ToString("F")
            </td>
        </tr>
    }
    @if (Model.UpdatedOn.HasValue)
    {
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.UpdatedOn):
            </td>
            <td class="adminData">
                @Model.UpdatedOn.Value.ToString("F")
            </td>
        </tr>
    }
</table>


  