﻿@using Nop.Admin.Models.EmailManagement
@model EmailListModel
@if (Model.Id > 0)
{
    if (Model.AvailableEmailGroups.Count > 0)
    {
        <div id="productmanufacturers-grid"></div>

        <script>
                $(document).ready(function () {
                    $("#productmanufacturers-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("EmailListEmailGroupList", "EmailList", new { emailListId = Model.Id }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                create: {
                                    url: "@Html.Raw(Url.Action("EmailListEmailGroupInsert", "EmailList", new { emailListId = Model.Id }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                update: {
                                    url:"@Html.Raw(Url.Action("EmailListEmailGroupUpdate", "EmailList"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("EmailListEmailGroupDelete", "EmailList"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        EmailGroup: { editable: true, type: "string" },
                                        //ProductId: { editable: false, type: "number" },
                                        EmailGroupId: { editable: true, type: "number" },
                                        //DisplayOrder: { editable: true, type: "number" },
                                        Id: { editable: false, type: "number" }
                                    }
                                }
                            },
                            requestEnd: function (e) {
                                if (e.type == "create" || e.type == "update") {
                                    this.read();
                                }
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        toolbar: [{ name: "create", text: "@T("Admin.EmailManagement.EmailGroups.AddNewEmailgroup")" }],
                        edit: function(e) {
                            if (e.model.isNew()) {
                                //little hack here
                                //pre-select the first value of kendoui dropdownlist datasource
                                //for some reasons (maybe, bug) it always sends 0
                                //if no value has been selected (changed) in the dropdownlist
                                if (allEmailGroups.length > 0) {
                                    e.model.EmailGroupId = allEmailGroups[0].Id;
                                }
                            }
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "EmailGroupId",
                                title: "@T("Admin.EmailManagement.EmailGroups")",
                                width: 200,
                                editor: emailGroupDropDownEditor,
                                template: "#:EmailGroup#"
                            },
                           
                        @*{
                            field: "DisplayOrder",
                            title: "@T("Admin.Catalog.Products.Manufacturers.Fields.DisplayOrder")",
                            width: 200,
                            //integer format
                            format: "{0:0}"
                        },*@ {
                            command: [{
                                name: "edit",
                                text: {
                                    edit: "@T("Admin.Common.Edit")",
                                    update: "@T("Admin.Common.Update")",
                                    cancel: "@T("Admin.Common.Cancel")"
                                }
                            }, {
                                name: "destroy",
                                text: "@T("Admin.Common.Delete")"
                            }],
                            width: 200
                        }]
                    });
                });

                //local datasource
                var allEmailGroups = [
                    @for (int i = 0; i < Model.AvailableEmailGroups.Count; i++)
                    {
                        var emailGroupsItem = Model.AvailableEmailGroups[i];
                        <text>
                        {
                            Id: @(emailGroupsItem.Value),
                            Name: "@(Html.Raw(HttpUtility.JavaScriptStringEncode(emailGroupsItem.Text)))"
                        }
                        </text>
                        if (i != Model.AvailableEmailGroups.Count - 1)
                        {
                            <text>,</text>
                        }
                    }
                ];

                function emailGroupDropDownEditor(container, options) {
                    $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:EmailGroupId"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: false,
                            dataSource: allEmailGroups
                        });
                }
        </script>
    }
    else
    {
        @T("Admin.EmailManagement.EmailGroups.NoEmailGroupsAvailable")
    }
}
else
{
    @T("Admin.EmailManagement.EmailGroups.SaveBeforeEdit")
}