﻿@using Nop.Admin.Models.EmailManagement
@model EmailListModel
@{
    //page title
    ViewBag.Title = T("Admin.EmailManagement.EditEmailListDetails").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "emaillist-form" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.EmailManagement.EditEmailListDetails") - @Model.Email @Html.ActionLink("(" + T("Admin.EmailManagement.EmailList.BackToList") + ")", "List")
        </div>
        <div class="options">
            @*<input type="submit" value="@T("Admin.Common.Preview")" onclick="javascript:OpenWindow('@Url.RouteUrl("Product", new { SeName = Model.SeName })', 800, 600, true); return false;" class="k-button" />*@
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            @*<input type="submit" id="copyproduct" name="copyproduct" class="k-button" value="@T("Admin.Catalog.Products.Copy")" />*@
            <span id="emaillist-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("emaillist-delete")


