﻿@model CampaignModel
@using Nop.Web.Models.Messages
@{
    //page title
    ViewBag.Title = T("Admin.Promotions.Campaigns.AddNew").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page login-page" style="height:50px">
        <center>
            <div class="title" style="height:50px">
                @* <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />*@
                <h3>@T("Admin.Promotions.Campaigns.AddNew") @Html.ActionLink("(" + T("Admin.Promotions.Campaigns.BackToList") + ")", "List")</h3>
            </div>

            <div class="options">
                <input type="submit" name="save" class="button-1 save-address-button" value="@T("Admin.Common.Save")" />
                <input type="submit" name="save-continue" class="button-1 save-address-button" value="@T("Admin.Common.SaveContinue")" />
            </div>
        </center>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}