﻿@model CampaignModel
@using Nop.Web.Models.Messages
@{
    //page title
    ViewBag.Title = T("Admin.Promotions.Campaigns.EditCampaignDetails").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page login-page">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @T("Admin.Promotions.Campaigns.EditCampaignDetails") - @Model.Name @Html.ActionLink("(" + T("Admin.Promotions.Campaigns.BackToList") + ")", "List")
        </div>
        <center><div class="options">
            <input type="submit" name="save" class="button-1" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="button-1" value="@T("Admin.Common.SaveContinue")" />
            <span id="campaign-delete" class="button-1">@T("Admin.Common.Delete")</span>
        </div>
        </center>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("campaign-delete")