﻿
@using Nop.Web.Models.Messages
@model CampaignModel
@{

    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    //page title
    ViewBag.Title = T("Admin.Promotions.Campaigns").Text;
}
@Html.AntiForgeryToken()
<div class="page account-page order-list-page">
    <div class="page-title">
        @*<img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />*@
        <h1>@T("Admin.Promotions.Campaigns")</h1>
    </div>
    <center>
        <div class="options">
            <a href="@Url.Action("Create")" class="button-1">@T("Admin.Common.AddNew")</a>
        </div>
    </center>
</div>
@*<div class="page account-page address-list-page">

    <div class="page-body">
        @if (Model.Campaigns.Count > 0)
        {
            <div class="address-list">
                @for (int i = 0; i < Model.Campaigns.Count; i++)
                {
                    var campaign = Model.Campaigns[i];

                    <div class="section address-item">
                        <div class="title">
                            <strong>@campaign.Name @campaign.Subject</strong>
                        </div>
                        @*<ul class="info">
                            <li class="name">
                                @address.FirstName @address.LastName
                            </li>
                            <li class="email">
                                @Html.LabelFor(model => model.campaign[i]., new { }, ":")
                                @address.Email
                            </li>
                            
                        
                        </ul>
                       <div class="buttons">
                            <input type="button" class="button-2 edit-address-button" onclick="location.href='@(Url.RouteUrl("CustomerAddressEdit", new { addressId = address.Id }))'" value='@T("Common.Edit")' />
                            <input type="button" class="button-2 delete-address-button" onclick="if (confirm('@(T("Common.AreYouSure").Text)')) {location.href='@(Url.RouteUrl("CustomerAddressDelete", new { addressId = address.Id }))';}" value="@T("Common.Delete")" />
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Account.CustomerCampaigns.NoCampaigns")
            </div>
        }
        <div class="add-button">
            <input type="button" class="button-1 add-address-button" onclick="location.href='@Url.RouteUrl("CustomerCampaignAdd")'" value="@T("Common.AddNew")" />
        </div>
    </div>
</div>*@
