﻿@model PollModel
@using Nop.Web.Models.Polls;
<div class="block-poll panel panel-info side-nav">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>@T("Polls.Title")</strong>
        </div>
        </div>
    <div class="panel-body">
        
        @Html.Partial("_Poll", Model)
    </div>
</div>
